{% import "components.njk" as component %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betsie Garner :: {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css">
    <style>
      {% include "main.css" %}
    </style>
  </head>
  <body>
    {% block header %}{% endblock %}

    {% block main %}
      {{ content | safe }}
    {% endblock %}

    <script>
      const isWindows = navigator
        .platform
        .indexOf('Win') > -1
      console.log(`isWindows ${isWindows}`);

      const body = document.querySelector("body");

      isWindows && body
        .classList
        .add("windows")
    </script>
  </body>
</html>