{% set siteTitle = "Betsie Garner" %}

{% macro fontLoader(fonts) %}
  {% for font in fonts %}
    <link rel="preload" href="/static/webfonts/{{font.fileName}}" as="font" crossorigin="anonymous">
  {% endfor %}
{% endmacro %}

{% macro myNav(navClass="my-nav", links) %}
  <nav class="nav {{navClass}}">
    <ul class="nav__list">
      {% for link in links %}
        <li class="nav__list-item">
          <a  href="{{link.url}}"
          {% if page.url == link.url or link.text == "Portfolio" and portfolioNavActive%} 
            class="nav__link nav__link--active" 
          {% else %}
            class="nav__link" 
          {% endif %}
          >{{link.text}}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}

<!doctype html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteTitle}} :: {{ title }}</title>
    <meta name="title" content="{{siteTitle}} :: {{ title }}"/>
    <meta name="description" content="{{ metaDescription }}"/>
    <link rel="manifest" href="/static/site.webmanifest"/>
    <!-- favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/static/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/static/favicon-128.png" sizes="128x128"/>
    <!-- theming -->
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#333333"/>
    <meta name="apple-mobile-web-app-title" content="{{siteTitle}}"/>
    <meta name="application-name" content="{{siteTitle}}"/>
    <meta name="msapplication-TileColor" content="#333333"/>
    <meta name="theme-color" content="#ffffff"/>
    <!-- facebook open graph -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://betsiegarner.com/"/>
    <meta property="og:title" content="{{siteTitle}}"/>
    <meta property="og:site_name" content="{{siteTitle}}"/>
    <meta property="og:description" content="{{ metaDescription }}"/>
    <meta property="og:image" content="https://betsiegarner.com/static/og-image.jpg"/>
    <!-- twitter card tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@aharvard"/>
    <meta name="twitter:image:alt"content="Betise Garner's Headshot"/>
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="/static/fonts.css">
    <link rel="preload" href="/static/fonts.css" as="style">
    <!-- Fonts -->
    <!-- Century Schoolbook Bold-->
    {{fontLoader( fonts =[
      {fileName: "3AC19A_0_0.woff2"}
    ])}}
    <!-- Century Schoolbook Bold Italic-->
    {{fontLoader( fonts =[
      {fileName: "3AC19A_1_0.woff2"}
    ])}}
    <!-- Century Schoolbook Italic-->
    {{fontLoader( fonts =[
      {fileName: "3AC19A_2_0.woff2"}
    ])}}
    <!-- Century Schoolbook Regular-->
    {{fontLoader( fonts =[
      {fileName: "3AC19A_3_0.woff2"}
    ])}}

    {# <!-- Century Schoolbook Bold -->
    {{fontLoader( fonts =[
      {fileName: "3AC19A_0_0.eot"},
      {fileName: "3AC19A_0_0.ttf"},
      {fileName: "3AC19A_0_0.woff"},
      {fileName: "3AC19A_0_0.woff2"}
    ])}}
    <!-- Century Schoolbook Bold Italic-->
    {{fontLoader( fonts =[
      {fileName: "3AC19A_1_0.eot"},
      {fileName: "3AC19A_1_0.ttf"},
      {fileName: "3AC19A_1_0.woff"},
      {fileName: "3AC19A_1_0.woff2"}
    ])}}
    <!-- Century Schoolbook Italic-->
    {{fontLoader( fonts =[
      {fileName: "3AC19A_2_0.eot"},
      {fileName: "3AC19A_2_0.ttf"},
      {fileName: "3AC19A_2_0.woff"},
      {fileName: "3AC19A_2_0.woff2"}
    ])}}
    <!-- Century Schoolbook Regular-->
    {{fontLoader( fonts =[
      {fileName: "3AC19A_3_0.eot"},
      {fileName: "3AC19A_3_0.ttf"},
      {fileName: "3AC19A_3_0.woff"},
      {fileName: "3AC19A_3_0.woff2"}
    ])}} #}
    <style>
      {% include "main.css" %}
    </style>
  </head>
  <body class="body-{{layout |  replace(".njk", "")}}">
    {% block header %}{% endblock %}

    {% block main %}
      {{ content | safe }}
    {% endblock %}

    <script>
      const isWindows = navigator
        .platform
        .indexOf('Win') > -1
      console.log(`isWindows ${isWindows}`);

      const body = document.querySelector("body");

      isWindows && body
        .classList
        .add("windows")
    </script>
  </body>
</html>