{% extends "base.njk" %}

{% block header %}
  <header>
    <a class="header-title" href="/">
      <span class="header-title__span">
        <span class="header-title__first-letter">B</span>etsie </span>
      <span class="header-title__span">
        <span class="header-title__first-letter">G</span>arner</a>
    </span>
  </span>
  <nav>
    {{ collections.all | eleventyNavigation("main") | eleventyNavigationToHtml({
        listClass: "nav__list",
        listItemClass: "nav__list-item",
        anchorClass: "nav__link",
        activeListItemClass: "nav__list-item--active",
        activeAnchorClass: "nav__link--active",
        activeKey: eleventyNavigation.key
      }) | safe }}
  </nav>
</header>
{% endblock %}

{% block main %}
<main>
  <h1 class="page-title">
    {{ title }}
  </h1>
  {{ content | safe }}
</main>
{% endblock %}