{% extends "base.njk" %}

{% block header %}
  <header class="header">
    <a class="header-title" href="/" aria-label="Betsie Garner">
      <span class="header-title__span">
        <span class="header-title__first-letter">B</span>etsie </span>
      <span class="header-title__span">
        <span class="header-title__first-letter">G</span>arner</a>
    </span>
  </span>

  {{myNav(navClass="nav--header",[
      {text: "Bio", url: "/bio/"},
      {text: "Portfolio", url: "/portfolio/research"},
      {text: "CV", url: "/cv/"}
    ])}}

</header>
{% endblock %}

{% block main %}
<main class={{title | lower}}>
  <h1 class="page-title">
    {{ title }}
  </h1>
  {{ content | safe }}
</main>
{% endblock %}