{% extends "inner.njk" %}

{% block main %}
  <main class="portfolio">
    <header class="portfolio-header">
      {# <div class="site-width"> #}
      {{myNav(navClass="nav--portfolio",[
      {text: "Research", url: "/portfolio/research/"},
      {text: "Teaching", url: "/portfolio/teaching/"},
      {text: "Service", url: "/portfolio/service/"}
    ])}}
      {# </div> #}
    </header>

    <div class="portfolio-content">
      <div class="portfolio-intro">
        <h1 class="page-title">
          {{title}}
        </h1>
        {% if subtitle %}
          <p class="page-subtitle">{{subtitle}}</p>
        {% endif %}
      </div>

      {{ content | safe }}
    </div>
  </main>
{% endblock %}