{% extends "inner.njk" %}

{% block main %}
  <main class="portfolio-detail">
    <aside class="portfolio-aside">
      {{ collections.all | eleventyNavigation("portfolio") | eleventyNavigationToHtml({
        listClass: "portfolio-nav",
        listItemClass: "",
        anchorClass: "portfolio-nav__link",
        activeListItemClass: "",
        activeAnchorClass: "portfolio-nav__link--active",
        activeKey: eleventyNavigation.key
      }) | safe }}
    </aside>
    <div class="portfolio-content">
      {{ content | safe }}
    </div>
  </main>
{% endblock %}