---
layout: portfolio-detail.njk
title: Research
eleventyNavigation:
  key: research
  order: 2
  parent: portfolio
---
<div class="portfolio-intro">
  <h1 class="page-title">
    {{title}}
  </h1>
  <p class="portfolio-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur ipsa, laudantium minus culpa libero aut quas porro accusantium rerum earum? Animi cumque aliquid voluptas perferendis, quos facilis. Doloribus, harum.</p>
</div>

<section class="portfolio-section">
  <span class="section-number__box" aria-label="project 1">
    <span class="section-number__text">1</span>
  </span>
  <div>
    <h2 class="section-title">
  Interview Study of Gendered Approaches to Work-Family Balance</h2>
    <p class="section-blurb">Honors thesis completed as an undergraduate at Emory University</p>
  </div>

  <h3 class="section-heading">Data & Methods</h3>
  <p>in-depth, semi-structured interviews with 20 college seniors (10 women and 10 men) about career aspirations and plans for family; interviews were recorded digitally, transcribed verbatim, and coded thematically with MAXQDA</p>

  <h3 class="section-heading">Findings</h3>
  <p>women anticipate making difficult choices in order to resolve conflicts between work and family, but men imagine they will easily “have it all”</p>

  <h3 class="section-heading">Dissemination</h3>
  <p>presented at the 2012 Work and Family Researchers Network Conference</p>

  <h3 class="section-heading">publication</h3>
  <p>published to the Emory Theses and Dissertations Repository</p>

  <a href="https://etd.library.emory.edu/concern/etds/3n203z49c?locale=pt-BR">Link to Publication</a>
</section>

<section class="portfolio-section">
  <span class="section-number__box" aria-label="project 2">
    <span class="section-number__text">2</span>
  </span>

  <h2 class="section-title">Ethnography of Parenting, Work, and Leisure in Museums</h2>
  <p class="section-blurb">master’s thesis completed as a graduate student at the University of Pennsylvania</p>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias officia, voluptatum laborum magnam reiciendis iste quibusdam cupiditate beatae omnis atque commodi illo odio excepturi voluptatem quaerat, fuga porro ea eos.</p>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis esse fugit accusamus saepe! Dicta doloremque aut repellat sed dolorem quae amet. Perferendis, maiores consectetur recusandae qui provident iusto dolores dolor!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat itaque enim vel repudiandae voluptatem dolores numquam ea blanditiis assumenda maiores alias veniam reiciendis doloremque sapiente commodi, animi quaerat illo ipsa?</p>

  <div class="ingredients">
    <h3>Heading</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis maxime vitae.</p>
    <h3>Heading Lorem</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis maxime vitae.</p>
  </div>

</section>
<section class="portfolio-section">
  <span class="section-number__box" aria-label="project 3">
    <span class="section-number__text">3</span>
  </span>

  <h2 class="section-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
  <p class="section-blurb">master’s thesis completed as a graduate student at the University of Pennsylvania</p>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias officia, voluptatum laborum magnam reiciendis iste quibusdam cupiditate beatae omnis atque commodi illo odio excepturi voluptatem quaerat, fuga porro ea eos.</p>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis esse fugit accusamus saepe! Dicta doloremque aut repellat sed dolorem quae amet. Perferendis, maiores consectetur recusandae qui provident iusto dolores dolor!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat itaque enim vel repudiandae voluptatem dolores numquam ea blanditiis assumenda maiores alias veniam reiciendis doloremque sapiente commodi, animi quaerat illo ipsa?</p>
</section>