---
layout: portfolio-detail.njk
title: Research
portfolioNavActive: true

projectOne: Interview Study of Gendered Approaches to Work-Family Balance
projectTwo: Ethnography of Parenting, Work, and Leisure in Museums
projectThree: Ethnography of Children’s Gender Socialization in Zoos
projectFour: Ethnographic Community Study of Rockdale County, GA
---

{% macro portfolioSection(number, title, date = "0000", details) %}
  <section id="project-{{number}}" class="portfolio-section">
    <span class="section-number__box" aria-label="project {{number}}">
      <span class="section-number__text">{{number}}</span>
    </span>
    <h2 class="section-title">{{title}}</h2>
    <p class="section-date">{{date}}</p>
    <div class="section-body">
      {{ caller() }}
    </div>
    <div class="section-details">
      <div class="section-details__items section-details__items--{{details.length}}">
        {% for detail in details %}
          <div class="section-details__item">
            <h3 class="section-detail__title" aria-label="Project {{number}} {{detail.title}}">{{detail.title}}</h3>
            {% for item in detail.description %}
              <p class="section-detail__description">{{ item | safe}}</p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endmacro %}

<div class="portfolio-intro">
  <h1 class="page-title">
    {{title}}
  </h1>
  <p class="page-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur ipsa, laudantium minus culpa libero aut quas porro accusantium rerum earum? Animi cumque aliquid voluptas perferendis, quos facilis. Doloribus, harum.</p>

  <ul class="section-anchor-list">
    <li class="section-anchor-list__item">
      <a href="#project-1" class="section-anchor-list__link">{{projectOne}}</a>
    </li>
    <li class="section-anchor-list__item">
      <a href="#project-2" class="section-anchor-list__link">{{projectTwo}}</a>
    </li>
    <li class="section-anchor-list__item">
      <a href="#project-3" class="section-anchor-list__link">{{projectThree}}</a>
    </li>
  </ul>
</div>

{% call portfolioSection(number = "1", title = projectOne, date = "2010-2012", details = [
  {
    title: "dissemination",
    description: ['<a target="_blank" href="https://www.dropbox.com/s/mopdg7v0jogiuyj/2012%20WFRN%20Conference%20Program.pdf?dl=0">2012 Work and Family Researchers Network Conference</a>']
  }, {
    title: "publication",
    description: ['<a target="_blank" href="https://etd.library.emory.edu/concern/etds/3n203z49c">Emory Theses and Dissertations Repository</a>']
  }, {
    title: "recognition",
    description: ["Highest Honors by the Emory College Honors Committee"]
  }

]) %}

<p>During my senior year of college at <a href="">Emory University</a>, I completed the <a href="">Honors Program</a> through the <a href="">Department of Sociology</a>.  This was my first experience conducting a professional academic study from beginning to end, including everything from research design and IRB approval to writing up results and presenting at a conference.</p>

<p>My research project was inspired by an observation Gloria Steinem made in her 1984 national bestseller <a href="" class="em">Outrageous Acts and Everyday Rebellions</a>: “I’ve yet to be on a campus where most women weren’t worrying about some aspect of combining marriage, children, and a career.  I’ve yet to find one where many men were worrying about the same thing.”</p>

<p>I was familiar with recent scholarship on gender, work, and family through my coursework as an undergraduate sociology major, but most of that research focused on the experiences of men and women who were already married and raising children.  There was very little research available on the views of contemporary young adults like my college peers.</p>

<p>I wondered if things had changed since the 1970s and 80s, so I designed an interview study of college seniors and their approaches to work-family balance.  I conducted in-depth, semi-structured interviews with 20 students, 10 women and 10 men, asking them open-ended questions about their career aspirations and plans for family.  The interviews were digitally recorded and transcribed verbatim, and I used MAXQDA to code the interview transcripts using themes that were arrived at both inductively and deductively.</p>

<p>What I found is that gender accounted for a significant difference in how students responded: women anticipated making difficult choices in order to resolve conflicts between work and family, but men imagined they would easily “have it all” without making any personal sacrifices.</p>

<p>This insight has meaningful implications for policy makers and advocates working to support parents, especially mothers, as they negotiate the competing demands of work and family.  For example, it provides empirical evidence that college students have apparently changed very little in their thinking on this issue in recent decades.  At the same time however, it suggests that college may represent a time in the life course that is ripe for intervention given that young adults at this point are formulating their career aspirations and plans for family but not yet committed to particular work-family arrangements.</p>

{% endcall %}

{% call portfolioSection(number = "2", title = projectTwo, date = "2011-2015", details = [
  {
    title: "funding",
    description: ["Gertrude and Otto Pollak Summer Research Fellowship"]
  }, {
    title: "dissemination",
    description: ['<a target="_blank" href="https://www.dropbox.com/s/37wo87y5cfi39ql/2013%20ASA%20Annual%20Meeting%20Program.pdf?dl=0">2013 American Sociological Association Annual Meeting</a>', '<a target="_blank" href="https://www.dropbox.com/s/tqba0avxrcq73w3/2014%20ESS%20Annual%20Meeting%20Program.pdf?dl=0">2014 Eastern Sociological Society Annual Meeting</a>']
  }, {
    title: "publication",
    description: ['<a target="_blank" href="https://doi.org/10.1007/s11133-015-9310-7"><cite>Qualitative Sociology</cite></a>']
  }
]) %}

<p>When I moved to Philadelphia to attend graduate school at the <a href="">University of Pennsylvania</a>, I spent a lot of my free time visiting the city’s many world-class museums.  I was struck by the interactive design of the exhibits and marveled at how children appeared to relish learning through play.</p>

<p>Meanwhile, I needed a topic for my master’s thesis and began to wonder about how parents experience their family visits to museums.  Is it as much for the parents as it is for the kids?  The available sociological research on family had very little to say about such public contexts as museums.  Instead, it was more common for scholars to study parents and children in home or school settings.</p>

<p>To gain leverage on my question, I conducted 120+ hours of ethnographic fieldwork at four museum sites and used participant observation in two distinct modes.  First, I worked as a trained volunteer at one museum exhibit, which required me to lead parents and children through structured educational activities and also gave me the chance to discuss museum visits with them more generally.  Second, I visited museums as a regular patron in the company of a colleague’s young son.  Since I had no children of my own, this strategy allowed me to “<a href="">wedge</a>” my way into child-focused museum activities.</p>

<p>In both modes, I used a combination of direct questioning and “<a href="">interviewing by comment</a>” to elicit meaningful conversation with parents.  I made jottings while still in the field and later wrote up extensive field notes at home.  Using MAXQDA, I coded and recoded successive sets of field notes in an inductive process that resulted in a refined coding scheme.</p>

<p>My findings reveal that fathers experience family museum visits as sentimental leisure time while mothers experience those same visits as routine parenting work.  Fathers romanticized museum visits as special, memorable events, but mothers rationalized their experiences as mundane and ordinary.</p>

<p>This evidence not only suggests how gendered patterns of meaning-making pervade experiences of mothering and fathering, but also sparks an important debate about the methods typically used to measure how parents spend their time.  Large samples of time-diary data are often analyzed using research-imposed codes, and at least <a href="">one noteworthy study</a> categorizes family museum visits as parents’ leisure time, not work time.  By using a grounded theory approach that prioritizes parents’ own subjective experiences, I found that conventional time-diary methods likely overestimate leisure time for mothers while also obscuring from view the valuable work they perform during so-called family leisure activities.</p>

{% endcall %}

{% call portfolioSection(number = "3", title = projectThree, date = "2013-2016", details = [
  {
    title: "collaborators",
    description: [
      'David Grazian, co-author',
      'Marlena Mattei, field observer',
      'Lauren Springer, field observer'
    ]
  },
  {
    title: "dissemination",
    description: ['<a href="https://www.dropbox.com/s/py0qc1skw636ph8/2014%20ASA%20Annual%20Meeting.pdf?dl=0">2014 American Sociological Association Annual Meeting</a>']
  }, {
    title: "publication",
    description: ['<a href="https://doi.org/10.1177/0190272516656620"><cite>Social Psychology Quarterly</cite></a>']
  }, {
    title: "recognition",
    description: ['<span><a href="https://www.asanet.org/asa-communities/asa-sections/current-sections/animals-and-society/section-animals-and-society-past-award-recipients">Award for Distinguished Scholarship</a> from the Animals and Society Section of the American Sociological Association</span>']
  }
 
]) %}

<p>During my time in graduate school I had the opportunity to collaborate with Associate Professor of Sociology David Grazian on a topic reflecting the intersection of our respective research interests.  Dave was working on a larger book project about the culture of nature in American zoos, and he hired me to work as a research assistant helping to collect and analyze data.  Given my own interest in family leisure, the two of us agreed that I could take the lead on planning a co-authored paper about parenting at the zoo.</p>

<p>The data for our paper was collected through 100+ hours of public observation at an urban zoo, conducted by a research team that included me and two other students.  Members of the research team were stationed at individual exhibits and observed how families with children responded to animal displays and interacted with one another.  Each of the three field observers wrote up detailed field notes which were all coded and analyzed by Dave and me using MAXQDA.</p>

<p>The theme of childhood gender socialization emerged early in the project as we observed parents to naturalize cultures of human gender difference by referencing the biological determinism of non-human animal species.  Scholars had long-bemoaned the stubborn appeal of natural explanations for social phenomenon, but sociologists had yet to identify how socialization results in a worldview that so frequently mistakes gender differences as natural rather than cultural.</p>

<p>Our work illustrates how parents teach children to associate cultural gender differences between men and women, boys and girls with zoo animals that appear to inhabit the natural living world.  This opens up new avenues for research on how anthropomorphized representations of non-human species in popular culture contribute to the widespread misconception that human gender differences are explained by biological, rather than social, causes.</p>

{% endcall %}