---
layout: portfolio-detail.njk
title: Service
portfolioNavActive: true
---

<div class="portfolio-intro">
  <h1 class="page-title">
    {{title}}
  </h1>
  <p class="page-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur ipsa, laudantium minus culpa libero aut quas porro accusantium rerum earum? Animi cumque aliquid voluptas perferendis, quos facilis. Doloribus, harum.</p>
</div>