---
layout: portfolio-detail.njk
title: Service
metaDescription: Betsie Garner is an Assistant Professor of Sociology at Tennessee Tech University.  Her research and teaching interests include topics related to family, culture, and place.  She received a PhD in Sociology from the University of Pennsylvania in 2017, an MA in Sociology from the University of Pennsylvania in 2013, and a BA in Sociology from Emory University in 2011.

portfolioNavActive: true
---

<p class="page-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur ipsa, laudantium minus culpa libero aut quas porro accusantium rerum earum? Animi cumque aliquid voluptas perferendis, quos facilis. Doloribus, harum.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, ut minus! Similique, dolore. Vero pariatur deleniti optio quas consequuntur, molestias ducimus temporibus quos qui? Pariatur provident corporis sunt illum quod.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod voluptatum, quasi ea, ipsum cupiditate reiciendis doloremque libero hic vel veniam facilis perferendis. Deleniti molestiae velit iusto cupiditate iste, nobis asperiores?</p>