---
layout: portfolio-detail.njk
title: Teaching
subtitle: A Case Study in Course Design 

metaDescription: Betsie Garner is an Assistant Professor of Sociology at Tennessee Tech University.  Her research and teaching interests include topics related to family, culture, and place.  She received a PhD in Sociology from the University of Pennsylvania in 2017, an MA in Sociology from the University of Pennsylvania in 2013, and a BA in Sociology from Emory University in 2011.

portfolioNavActive: true
---

{% set linkAttrs = "target='_blank' rel='noopener'" %}


<h2 class="text-display-2">Inclusive Teaching Through Design Thinking</h2>

<p class="page-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur ipsa, laudantium minus culpa libero aut quas porro accusantium rerum earum? Animi cumque aliquid voluptas perferendis, quos facilis. Doloribus, harum.</p>
{# 
{% macro problemSolution(label, title) %}
  <div class="problem-solution__block">
    <span class="problem-solution__label">{{label}}</span>
    <p class="problem-solution__title">{{title}}</p>
  </div>
{% endmacro %}

<hr>
<div class="problem-solution__wrapper">
  {{ problemSolution("Problem", "Keeping Students Engaged") }}
  {{ problemSolution("Problem", "Organizing Students into Groups") }}
  {{ problemSolution("Solution", "Keeping Students Focused") }}
  {{ problemSolution("Solution", "Teaching Sociology Like a Lab Science") }}
</div>

<hr> #}

<h2>Problem: Keeping Students Engaged</h2>

<p>When I taught Introduction to Sociology at Tennessee Tech for the first time in Fall 2017, I quickly realized that one of my greatest challenges was keeping students engaged throughout the entire fifteen-week course.</p>

<p>Because the course fulfills a general education requirement, it attracts an incredibly diverse range of students.  First-time freshmen who aren’t sure what they will major in sit alongside soon-to-be graduates from programs in nursing, engineering, business, and fine arts.  Among these varied learners, I identified two types who exhibited inconsistent engagement in the course: the lowest-achieving students and the highest-achieving students.</p>

<p>The lowest-achieving students tended to be freshmen with few advantages.  Many were first-generation college students from low-income households, and their modest high school GPAs and ACT scores suggested that college-level work might be daunting for them.</p>

<p>The highest-achieving students tended to be juniors and seniors who were already succeeding in their chosen majors.  Many benefited from the support of college-educated parents and had conquered college-prep courses in high school with relative ease.</p>

<p>Despite these differences, both high- and low-achieving students displayed a troubling pattern of behavior.  They frequently missed class, failed to complete small assignments on time, and rarely connected with me one-on-one, such as during office hours or through email correspondence.</p>

<p>By the end of the semester, the high-achieving students earned A’s and the low-achieving students earned D’s and F’s.  I invited individual students from both groups to meet with me and discuss the class so that I could learn more about their experiences.</p>

<p>Low-achieving students explained that feelings of overwhelm and self-doubt caused them to give up on the class.  When course content proved challenging early in the semester, students felt isolated and embarrassed to ask for help.  Continuing to attend class caused too much anxiety, so they unplugged from the course and fell further and further behind.</p>

<p>High-achieving students explained that the course was neither challenging nor important, and they were confident in their ability to succeed without investing much effort.  Skipping class and failing to complete low-value assignments were calculated choices, and they were able to score well on exams by quickly skimming textbook chapters on their own.</p>

<p>My goal then was to redesign the course in a way that would keep both types of students engaged.  Low-achieving students needed more social support to voice their concerns and get connected with available resources.  High-achieving students needed more rigor so they could be challenged to grow beyond the skills they already had.</p>


<h2>Solution: Organizing Students into Groups</h2>

<p>During subsequent semesters, I implemented student groups as a way to structure social interaction in the course.  Using available data on each student’s class standing, major course of study, and GPA, I created diverse groups of five students each.  Students were required to sit with their group members during class, and I guided them through structured activities to promote teamwork and group identity.</p>

<p>At the beginning of the semester, I helped each group adopt a plan for how they would use technology to support collaboration.  Some selected Google Drive or Evernote for sharing lecture notes and study guides while others chose GroupMe for chatting about homework in real time or Quizlet for testing each other’s comprehension of reading assignments.</p>

<p>Then throughout the semester I directed students to work with their group members on formative assessments during class each week.  These activities included active reading assignments, role-playing simulations, and classroom debates in which students applied theoretical concepts to empirical illustrations.  Each student submitted their own completed assignments, but they had the help of their group members to get the job done.</p>

<p>I also provided class time for groups to reflect on their progress in the course and discuss how they felt about upcoming summative assessments.  Based on these conversations, I provided detailed instructions on how to take advantage of campus resources, such as one-on-one tutoring through the library, mental health support at the counseling center, and personalized academic assistance in my weekly office hours.</p>

<p>Restructuring the course around group work increased student engagement for both high- and low-achieving students.  Class attendance increased significantly, and the number of zeros for missing assignments plummeted.  Low-achieving students seemed more comfortable reaching out for help, and high-achieving students appeared to enjoy providing assistance and encouragement to their peers.</p>

<p>Perhaps most importantly, low-achieving students were no longer quite so low-achieving.  Instead of failing, they were much more likely to earn a C or better in the course.</p>


<h2>Problem: Keeping Students Focused</h2>

<p>Given this new emphasis on group work and active learning, more class time was devoted to discussions that unfolded organically.  One group would share an interesting thought, another group would respond, and soon the room would erupt with enthusiastic banter.</p>

<p>Increased participation is a good thing, but unfortunately students were too often discussing unsubstantiated claims related to their own personal opinions.  They were losing sight of sociology as a science and became preoccupied with political ideology.  In other words, my solution to the problem of keeping students engaged had created the new problem of keeping students focused.</p>

<p>So my next goal was to emphasize how social scientific claims are supported by the careful collection and systematic analysis of evidence.  I wanted students to experience the sociological research process themselves in order to better understand how credible arguments are supported by facts.  Put simply, I wanted them to learn about sociology by doing sociology.</p>


<h2>Solution: Teaching Sociology Like a Lab Science</h2>

<p>In Spring 2019 I determined I would try teaching Introduction to Sociology like a lab science.  Just as natural science courses like chemistry and biology provide students with laboratory settings to develop familiarity with the scientific method, I would create lab assignments that involve students in working with real data.</p>

<p>My idea was awarded a competitive <a href="https://www.tntech.edu/oci-qep/edge-curriculum-grant.php" {{linkAttrs | safe}}>curriculum grant</a> through Tennessee Tech’s Quality Enhancement Plan, Enhanced Discovery through Guided Exploration.  This campus initiative supports faculty in redesigning courses to include <a href="https://www.tntech.edu/oci-qep/index.php" {{linkAttrs | safe}}>creative inquiry</a> projects and involves an intensive two-day camp of training in evidence-based pedagogy and curriculum design.</p>

<p>During the camp, faculty used a <a href="http://www.ascd.org/Publications/Books/Overview/Understanding-by-Design-Expanded-2nd-Edition.aspx" {{linkAttrs | safe}}>backward design</a> process to sketch out course objectives, formative and summative assessments, and individual learning experiences.  Our brainstorming sessions involved divergent thinking to generate countless ideas and convergent thinking to edit those ideas using established criteria and constraints.  In an iterative series of collaborative critiques, we each presented prototypes, received peer feedback, and gradually refined our designs.</p>

<p>My final design was implemented in Fall 2019 and included a series of ten lab assignments that each correspond to one of ten course content modules and one of ten student learning outcomes.  For example, during the module on social control and deviance, students used participant observation to examine how features of the built environment on campus are designed to control social behavior.  During the module on gender, students used content analysis to document patterns in varying images of ideal masculinity from across space and time.</p>

<p>These lab assignments effectively oriented class time around the collection and analysis of empirical evidence, which ultimately kept students focused on the methods and theories that distinguish sociology as a social scientific discipline.  And because students worked with their group members to complete each assignment, they remained engaged in the course as well.</p>

<p>At the end of the semester I solicited feedback from students in multiple formats.  In <a href="https://www.dropbox.com/s/p4e7imp152uku0n/IDEA%20Course%20Evaluation%20Report_Intro%20to%20Sociology_Fall%202019.pdf?dl=0" {{linkAttrs | safe}}>a survey</a> students rated me 4.9 out of 5.0 as an “excellent teacher” and the course 4.6 out of 5.0 as an “excellent course.”  During a debrief on the last day of class, students explained that the material covered in lab assignments was much more memorable than the content delivered through readings, lectures, and discussions.  They also provided me with suggestions on how to tweak a couple of the assignments for future iterations of the course.</p>