---
layout: portfolio-detail.njk
title: Teaching
metaDescription: Betsie Garner is an Assistant Professor of Sociology at Tennessee Tech University.  Her research and teaching interests include topics related to family, culture, and place.  She received a PhD in Sociology from the University of Pennsylvania in 2017, an MA in Sociology from the University of Pennsylvania in 2013, and a BA in Sociology from Emory University in 2011.

portfolioNavActive: true
---

<div class="portfolio-intro">
  <h1 class="page-title">
    {{title}}
  </h1>
  <p class="page-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur ipsa, laudantium minus culpa libero aut quas porro accusantium rerum earum? Animi cumque aliquid voluptas perferendis, quos facilis. Doloribus, harum.</p>
</div>