---
layout: portfolio-detail.njk
title: Teaching
metaDescription: Betsie Garner is an Assistant Professor of Sociology at Tennessee Tech University.  Her research and teaching interests include topics related to family, culture, and place.  She received a PhD in Sociology from the University of Pennsylvania in 2017, an MA in Sociology from the University of Pennsylvania in 2013, and a BA in Sociology from Emory University in 2011.

portfolioNavActive: true
---

<h1 class="page-title">
  {{title}}
</h1>
<p class="page-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur ipsa, laudantium minus culpa libero aut quas porro accusantium rerum earum? Animi cumque aliquid voluptas perferendis, quos facilis. Doloribus, harum.</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam inventore, ab quod soluta tenetur vel quidem nostrum dolorum dicta ex, quo doloremque nemo ipsam omnis tempore nam! Ex, labore harum.</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, sit quas eligendi perferendis repellat commodi ea est necessitatibus, eos libero ab distinctio reprehenderit? Expedita deleniti dolorum qui cupiditate in neque.</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio voluptate suscipit, quae pariatur illo laudantium eius alias eaque voluptas ducimus. Deserunt, accusamus aliquid aperiam possimus minima et? Voluptate, praesentium reiciendis!</p>