{% import "components.njk" as component %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betsie Garner :: {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css">
    <style>
      {% include "main.css" %}
    </style>
  </head>
  <body>
    <nav>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
        listClass: "nav__list",
        listItemClass: "nav__list-item",
        anchorClass: "nav__link",
        activeListItemClass: "nav__list-item--active",
        activeAnchorClass: "nav__link--active",
        activeKey: eleventyNavigation.key
      }) | safe }}
    </nav>

    <main>
      <h1>
        {{ title }}
      </h1>
      {{ content | safe }}
    </main>
  </body>
</html>