html {
    font-family: "Century Schoolbook Roman", cursive;
}

main {
    max-width: 64rem;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Century Schoolbook Bold";
    font-size: 10rem;
}
