$black: #333
$gray: #ddd
$h1Size: 5
$h2Size: 1.25
$lightSchoolColor: #fd0
$darkSchoolColor: #4F2984
$mobile: 37em
$tablet: 56em

//------------------ 
//-- Global
//------------------ 

::selection 
 background: $lightSchoolColor
 color: $darkSchoolColor

html
  font-size: 100%

body
  color: $black
  font-size: 1.15em
  font-family: 'SchoolBook', serif;
  @media (max-width: #{$mobile}) 
    // font-size: 1em

h1 
  font-size: $h1Size + em
  margin: 0 0 1rem
  text-transform: uppercase
  font-weight: 400


h2 
  font-size: $h2Size + em
  letter-spacing: .05em
  font-weight: 400


.site-main
  max-width: 64rem;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  @media (max-width: #{$mobile}) 
    padding: 1rem;

.navbar
  max-width: 64rem;
  margin: 0 auto 1rem;
  padding: 1rem 2rem
  display: flex
  justify-content: flex-end
  @media (max-width: #{$mobile}) 
    padding: 1rem;

.navbar-item
  margin-left: 1rem
  flex: 0 0 auto
  border-bottom: 1px solid transparent
  text-decoration: none
  color: $black

  &:hover, &:focus 
    border-color: $black

  &.navbar-item--active
    border-color: $black

//------------------ 
//-- Pages
//------------------ 

.home-page-title
  background: #333
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  min-height: 12.5rem
  height: 70vh
  padding: 0 2rem
  border-radius: 4px

  h1
    color: white
    font-size: 4.5rem
    font-style: italic
    text-transform: uppercase
    letter-spacing: .1em
    line-height: 1
    position: relative
    top: 1rem
    &::after
      content: ""
      border-bottom: 2px solid white
      display: block
      width: 50%
      margin: .5em auto 0
    @media (max-width: #{$mobile}) 
      font-size: 3rem

    
    
.bio-page
  max-width: 47rem

  h1::first-letter
    font-size: 1.5em
  
  p
    margin: 0 0 2.4rem
    white-space: pre-wrap
    line-height: 1.8

.cv-page
  h1 
    font-size: ($h1Size * 1.5) + em

//------------------ 
//-- Sections
//------------------ 

.cv-section
  margin-bottom: 5rem
  h2
    margin: 0 0 1.5rem
    padding-bottom: 1rem
    border-bottom: 2px solid $gray
    text-transform: uppercase

// .cv-section--contact 
// .cv-section--employment 
// .cv-section--education 
  
.cv-section--interests,
.cv-section--references
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr))
  grid-gap: 1rem;

  h2 
    grid-column: 1 / -1
    margin-bottom: .5rem
  .entry
    display: flex
    flex-direction: column
    margin-bottom: 0
  

// .cv-section--publications
// .cv-section--papers-in-progress 
// .cv-section--funding 
// .cv-section--awards 
// .cv-section--conference-presentations
// .cv-section--campus-presentations
// .cv-section--teaching-experience 
// .cv-section--professional-development  
// .cv-section--affiliations 
// .cv-section--media
// .cv-section--pro-service
// .cv-section--university-service  
// .cv-section--department-service 
// .cv-section--public-service
// .cv-section--references

//------------------ 
//-- Entries
//------------------ 
.entry
  margin-bottom: 3rem
  display: grid
  grid-template-columns: 5rem 1.75fr 15rem
  grid-gap: 1rem 2rem
  line-height: 1.5
  align-items: first baseline;
  // outline: 1px dashed lightgray
  // > * 
    // outline: 1px dashed lightblue
  @media (max-width: #{$mobile}) 
    margin-bottom: 3rem
    grid-gap: 1rem 2rem
    grid-template-columns: 1fr 4fr
    
  
  .cv-section--publications &,
  .cv-section--papers-in-progress &
    > *
      max-width: 32rem


  
  .cv-section--interests &
    display: flex;
  
  .cv-section--funding &
    grid-template-columns: 15rem 3fr 1fr
    .institution 
      grid-column: 2 / 3
    @media (max-width: #{$mobile})
      grid-template-columns: 6rem 1fr

  
  .cv-section--awards &
    grid-template-columns: 10rem 1fr
    > *
      max-width: 31rem

    @media (max-width: #{$mobile})
      grid-template-columns: 5rem 1fr
    

  .cv-section--conference-presentations &
    grid-template-columns: 5rem 3fr 10rem
    > *
      max-width: 30rem
    .location 
      grid-row: 1 / 2
    @media (max-width: #{$tablet})
      grid-template-columns: 3rem 2fr 1fr
    @media (max-width: #{$mobile})
      grid-template-columns: 3rem 1fr
      .location 
        grid-row: initial

  .cv-section--campus-presentations &
    .institution
      grid-row: 1 / 2
      @media (max-width: #{$mobile})
        grid-row: initial
    @media (max-width: #{$tablet})
      grid-template-columns: 3rem 2fr 1fr
    @media (max-width: #{$mobile})
      grid-template-columns: 3rem 1fr
  
  .cv-section--professional-development &
    .institution
      grid-row: 1 / 2
    @media (max-width: #{$mobile})
      grid-template-columns: 7rem 1fr
      .institution
        grid-row: initial


  .cv-section--teaching-experience &
    grid-template-columns: 10rem 1.5fr 1fr
    .institution 
      grid-row: 1 / 2
    @media (max-width: #{$mobile}) 
      grid-template-columns: 4rem 1fr
      .institution 
        grid-row: inital
  
  .cv-section--professional-development &
    grid-template-columns: 9rem 1fr 1fr
    @media (max-width: #{$mobile}) 
      grid-template-columns: 5rem 1fr
  
  
  .cv-section--affiliations &
    grid-template-columns: 12rem  1fr
    .title 
      grid-column: 1 / 2
    @media (max-width: #{$mobile})
      grid-template-columns: 4rem 1fr
    
  .cv-section--media &
    @media (max-width: #{$mobile})
      grid-template-columns: 4rem 1fr

  .cv-section--pro-service &, 
  .cv-section--university-service &,
  .cv-section--department-service &, 
    grid-template-columns: 9rem 1fr 
    > * 
      max-width: 25em
    @media (max-width: #{$mobile})
      grid-template-columns: 6rem 1fr
  
  .cv-section--public-service &
    grid-template-columns: 12rem 2fr 1fr
    @media (max-width: #{$mobile})
      grid-template-columns: 6rem 1fr

.address
  grid-column: 1 / 3
  p 
    margin: 0

.amount
  grid-column: 3 / 4
  grid-row: 1 / 2
  @media (max-width: #{$mobile}) 
    grid-column: 2 / 3
    grid-row: initial

.award
  grid-column: 2 / 3

.co-author
  grid-column: 2 / 3

.courses
  margin: 1rem 0 0 0
  padding: 0
  list-style: none
  grid-column: 2 / 3

.course
  padding: 0
  margin: 0
  & + & 
    margin-top: .25rem

.conference
  grid-column: 2 / 3
  align-self: flex-start

.event 
  text-indent: 0
  margin-top: 1em

.institution 
  grid-column: 3 / 4
  @media (max-width: #{$mobile}) 
    grid-column: 2 / 3

// .institution-location  

// .interest

.journal
  grid-column: 3 / 4 
  grid-row: 1 / 3
  @media (max-width: #{$mobile}) 
    grid-row: initial
    grid-column: 2 / 3

// .journal-issue

.journal-name
  font-style: italic
  margin-bottom: .25em

.location 
  grid-column: 3 / 4
  @media (max-width: #{$mobile}) 
    grid-column: 2 / 3

.organization
  @media (max-width: #{$mobile}) 
    grid-column: 2 / 3

.status
  grid-row: 1 / 2
  grid-column: 3 / 4
  @media (max-width: #{$mobile}) 
    grid-row: initial
    grid-column: 2 / 3


.sub-title
  grid-column: 2 / 3

.title 
  grid-column: 2 / 3
  p 
    margin: 0

.title--quotes
  text-indent: -0.43em

.year 
  grid-column: 1 / 2
