{% extends "base.html" %}
{% block title %}Betsie Garner: CV{% endblock title %}
{% block content %}
<body>
	<div class="site-wrapper">
    <div class="site-nav">
      <ul>
        <li><a href="/" class="site-link">Home</a></li>
        <li><a href="/bio" class="site-link">Bio</a></li>
        <li><a href="/cv" class="site-link active">CV</a></li>
      </ul>

    </div>

    <div class="site-head ">
      <h1 class="site-head-name"> <span class="cap-letter">CV</span> </h1>
      <!-- <h1 class="site-head-name">CV</h1> -->
    </div>

    {% include "cv-contact.html" %}
    {% include "cv-employment.html" %}
    {% include "cv-education.html" %}
    {% include "cv-research-and-teaching-interest.html" %}
    {% include "cv-publications.html" %}
    {% include "cv-papers-in-progress.html" %}
    {% include "cv-fellowships-and-funding.html" %}
    {% include "cv-honors-and-awards.html" %}
    {% include "cv-conference-presentations.html" %}
    {% include "cv-campus-presentations.html" %}
    {% include "cv-teaching-experience.html" %}
    {% include "cv-professional-development.html" %}
    {% include "cv-affiliations.html" %}
    {% include "cv-media-appearances.html" %}
    {% include "cv-service-to-pro.html" %}
    {% include "cv-service-to-the-department.html" %}
    {% include "cv-service-to-pub.html" %}
    {% include "cv-references.html" %}
  </div>
</body>


{% endblock content%}
