{% extends "base.html" %}
{% block title %}Betsie Garner{% endblock title %}
{% block content %}

<body class="home-page">
	<div class="site-wrapper">
    <div class="home-wrapper">
      <div class="site-nav">
        <ul>
          <li><a href="/" class="site-link active">Home</a></li>
          <li><a href="/bio" class="site-link">Bio</a></li>
          <li><a href="/cv" class="site-link">CV</a></li>
        </ul>
      </div>

      <div class="home-page-name">
        <h1 class="name">Betsie Garner</h1>
      </div>


        <div class="site-head ">
          <!-- <h1 class="site-head-name">
            <span class="first-name"><span class="cap-letter">B</span>etsie</span>
            <span class="last-name"><span class="cap-letter">G</span>arner</span>
          </h1> -->
          <!-- <h1 class="site-head-name">
            <span class="first-name"><span class="cap-letter">B</span>etsie</span>
            <span class="last-name"><span class="cap-letter">G</span>arner, </span>
            <span class="last-name"><span class="cap-letter">P</span>h<span class="cap-letter">D</span></span>
          </h1> -->

          <!-- <h2 class="site-head-sub-head">Instructor of Sociology at Tennessee Tech</h2> -->
        </div>
        <!-- <div class="site-head ">
          <h1 class="site-head-name">Betsie Garner</h1>
        </div> -->

    </div>
  </div>
</body>

{% endblock content%}
