{% filter markdown %}

Betsie Garner is an Instructor of Sociology at Tennessee Technological University where she teaches Introduction to Sociology.  She received a PhD in Sociology from the University of Pennsylvania in 2017, an MA in Sociology from the University of Pennsylvania in 2013, and a BA in Sociology from Emory University in 2011.

Garner uses various qualitative research methods to study family, culture, and place.  Her dissertation project was an ethnographic community study of Rockdale County, GA in which she explored the discourse and practice of Southern hospitality among contemporary residents of the changing Southern United States.  Her paper on the blurring of rural-urban boundaries in Rockdale was published in *The ANNALS of the American Academy of Political and Social Science*.

Garner’s earlier research focused on gender and parenting, and her comparison of mothering and fathering in the context of family visits to Philadelphia museums was published in *Qualitative Sociology*.  Her collaborative work with David Grazian illustrating the gender socialization of girls and boys during family visits to urban zoos appeared in *Social Psychology Quarterly* and won the 2017 Award for Distinguished Scholarship from the Animals and Society section of the American Sociological Association.

Garner is the recipient of several competitive awards including a Dissertation Research Fellowship and multiple Otto and Gertrude Pollak Summer Research Fellowships from the University of Pennsylvania as well as a Charles Elias Shepard Scholarship for Graduate Study from Emory University.  The University of Pennsylvania School of Arts and Sciences named her a 2016 Dean’s Scholar.

Garner has experience as a teaching assistant and recitation instructor for undergraduate courses on a variety of topics.  She has presented her research at numerous academic conferences and workshops and has appeared as a guest lecturer for several faculty members.  In her spare time, she enjoys volunteering with local non-profit organizations.

{% endfilter %}
