<!-- AFFILIATIONS -->
<section id="affiliations" class="section-cv">

  <h2 class="heading-cv">Affiliations</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Member</p>
      </div>
      <div class="section-col col-2">
        <p>American Sociological Association</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Member</p>
      </div>
      <div class="section-col col-2">
        <p>Southern Sociological Society</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Member</p>
      </div>
      <div class="section-col col-2">
        <p>Alpha Kappa Delta International Sociology Honor Society</p>
      </div>
    </li>



  </ul>


</section>
