<!-- CAMPUS PRESENTATIONS -->
<section id="campus-presentations" class="section-cv">

  <h2 class="heading-cv">Campus Presentations</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“All Are Welcome? Southern Hospitality and the Politics of Belonging”</p>
        <p>Wake Up Wednesday</p>
      </div>
      <div class="section-col col-3">
        <p>Tennessee Tech University
          <br>Cookeville, TN</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“All Are Welcome? Southern Hospitality and the Politics of Belonging”</p>
        <p>Faculty Development Fellowship</p>
      </div>
      <div class="section-col col-3">
        <p>United States Air Force Academy
          <br>Colorado Springs, CO</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Questions of Complicity in Nazi Germany and the Jim Crow South”</p>
        <p>Panelist for a Center Stage event coordinated by the United States Holocaust Memorial Museum</p>
      </div>
      <div class="section-col col-3">
        <p>Tennessee Tech University
          <br>Cookeville, TN</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“‘Perfectly Positioned’: The Blurring of Urban, Suburban, and Rural Boundaries in a Southern
          Community”
        </p>
        <p>Author Q&A video conference for Sarah Zelner</p>
      </div>
      <div class="section-col col-3">
        <p>University of Michigan
          <br>Ann Arbor, MI</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2016</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“The Hospitable South: Cultural Myth and Religious Practice in a Southern Community”</p>
        <p>Urban Ethnography Workshop</p>
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
          <br>Philadelphia, PA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2014</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Only Natural: Families and the Social Construction of Gender in a City Zoo”</p>
        <p>Family and Gender Workshop</p>
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
          <br>Philadelphia, PA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2013</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Mundane Mommies and Doting Daddies: Family-Oriented Consumption and Gendered Parenting in
          Philadelphia Museums”</p>
        <p>Urban Studies Graduate Student Colloquium Series</p>
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
          <br>Philadelphia, PA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2012</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Family Field Trips: Philadelphia Museums and the Construction of Family Time”</p>
        <p>Urban Space and Public Life in Philadelphia: A Spotlight on Local Urban Fieldwork in Penn’s Doctoral Program in
          Sociology
        </p>
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
          <br>Philadelphia, PA</p>
      </div>
    </li>

  </ul>


</section>