<!-- CONFERENCE PRESENTATIONS -->
<section id="conferece-presentations" class="section-cv">

  <h2 class="heading-cv">Conference Presentations</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“All Are Welcome? Southern Hospitality and the Politics of Belonging”
        </p>
        <p>Mid-South Sociological Association</p>
      </div>
      <div class="section-col col-3">
        <p>Birmingham, AL</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Warm and Friendly Churches: Southern Hospitality, Christian Hospitality, and the Institutional
          Maintenance of Local Congregations”
        </p>
        <p>American Sociological Association Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>Philadelphia, PA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“‘Perfectly Positioned’: The Blurring of Urban, Suburban, and Rural Boundaries in a Southern
          Community”</p>
        <p>Atlanta Studies Symposium</p>
      </div>
      <div class="section-col col-3">
        <p>Atlanta, GA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Warm and Friendly Churches: Southern Hospitality, Christian Hospitality, and the Institutional
          Maintenance of Local Congregations”
        </p>
        <p>Southern Sociological Society Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>New Orleans, LA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“The Hospitable South: Religion, Politics, and Belonging in a Southern Community”</p>
        <p>Southern Sociological Society Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>Greenville, SC</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2016</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“The Hospitable South: Cultural Myth and Religious Practice in a Southern Community”</p>
        <p>Society for the Scientific Study of Religion Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>Atlanta, GA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2016</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“‘Perfectly Positioned’: The Blurring of Urban, Suburban, and Rural Boundaries in a Southern
          Community”</p>
        <p>The New Rural-Urban Interface Conference</p>
      </div>
      <div class="section-col col-3">
        <p>Philadelphia, PA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2016</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“The Hospitable South: Cultural Myth and Religious Practice in a Southern Community”</p>
        <p>American Sociological Association Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>Seattle, WA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2016</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Urban Progressivism and Southern Hospitality: How Ecology and Morality Inform the Framing
          of Community Identity”</p>
        <p>Southern Sociological Society Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>Atlanta, GA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2015</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Street Level: Reconsidering Urban Sociology’s Regional Bias With Observations from Metro Atlanta’s
          Rockdale County”</p>
        <p>American Sociological Association Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>Chicago, IL</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2015</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Down Here: Family Life and Southern Culture in Rockdale County, Georgia”</p>
        <p>Southern Sociological Society Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>New Orleans, LA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2014</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Only Natural: Families and the Social Construction of Gender in a City Zoo”</p>
        <p>American Sociological Association Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>San Francisco, CA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2014</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Mundane Mommies and Doting Daddies: Family-Oriented Consumption and Gendered Parenting in
          Philadelphia Museums”</p>
        <p>Eastern Sociological Society Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>Baltimore, MD</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2013</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Mundane Mommies and Doting Daddies: Family-Oriented Consumption and Gendered Parenting in
          Philadelphia Museums”</p>
        <p>American Sociological Association Annual Meeting</p>
      </div>
      <div class="section-col col-3">
        <p>New York, NY</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2012</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“The Career Ladder and the Baby Cradle: College Seniors, Gender, and Work-Family Issues”</p>
        <p>Inaugural Meeting of the Work and Family Researchers Network</p>
      </div>
      <div class="section-col col-3">
        <p>New York, NY</p>
      </div>
    </li>

  </ul>


</section>