<!-- HONORS -->
<section id="honors" class="section-cv">

  <h2 class="heading-cv">Employment</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2017-</p>
      </div>
      <div class="section-col col-2">
        <p>Instructor of Sociology</p>
      </div>
      <div class="section-col col-3">
        <p>Tennessee Technological University
        <br>Cookeville, TN</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2013</p>
      </div>
      <div class="section-col col-2">
        <p>Research Assistant to David Grazian</p>
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
        <br>Philadelphia, PA</p>
      </div>
    </li>

  </ul>


</section>
