<!-- EDUCATION -->
<section id="education" class="section-cv">

  <h2 class="heading-cv">Education</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2017 </p>
      </div>
      <div class="section-col col-2">
        <p>PhD in Sociology</p>
        <!-- <p>Dissertation: “The Hospitable South: Religion, Politics, and Belonging in a Southern Community”</p> -->
        <!-- <p>Committee: David Grazian, Randall Collins, and Robin Leidner</p> -->
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
          <br>Philadelphia, PA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2013</p>
      </div>
      <div class="section-col col-2">
        <p>MA in Sociology</p>
        <!-- <p>Thesis: “Mundane Mommies and Doting Daddies: Family-Oriented Consumption and Gendered Parenting in Philadelphia Museums”</p> -->
        <!-- <p>Committee: David Grazian, Randall Collins, and Robin Leidner</p> -->
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
          <br>Philadelphia, PA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2011</p>
      </div>
      <div class="section-col col-2">
        <p>BA in Sociology with Highest Honors</p>
        <!-- <p>Thesis: “The Career Ladder and the Baby Cradle: College Seniors, Gender, and Work-Family Issues”</p> -->
        <!-- <p>Committee: Tracy Scott, Roberto Franzosi, and Christine Ristaino</p> -->
      </div>
      <div class="section-col col-3">
        <p>Emory University
          <br>Atlanta, GA</p>
      </div>
    </li>

  </ul>


</section>