<!-- FELLOWSHIPS AND FUNDING -->


<section id="fellowships-and-rewards" class="section-cv">

  <h2 class="heading-cv">Fellowships and Funding</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p>Learning About Learning Pedagogy-Related Travel Funding</p>
        <p>Tennessee Technological University</p>
      </div>
      <div class="section-col col-3">
        <p>$1,000</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2016, 2015, 2014, 2013</p>
      </div>
      <div class="section-col col-2">
        <p>Gertrude and Otto Pollak ASA Travel Award</p>
        <p>University of Pennsylvania</p>
      </div>
      <div class="section-col col-3">
        <p>$1,290 total</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2016, 2015, 2014, 2012</p>
      </div>
      <div class="section-col col-2">
        <p>Gertrude and Otto Pollak Summer Research Fellowship</p>
        <p>University of Pennsylvania</p>
      </div>
      <div class="section-col col-3">
        <p>$15,000 total</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2015</p>
      </div>
      <div class="section-col col-2">
        <p>Dissertation Research Fellowship</p>
        <p>University of Pennsylvania</p>
      </div>
      <div class="section-col col-3">
        <p>$6,500</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2011</p>
      </div>
      <div class="section-col col-2">
        <p>Benjamin Franklin Fellowship</p>
        <p>University of Pennsylvania</p>
      </div>
      <div class="section-col col-3">
        <p>$250,000+</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2011</p>
      </div>
      <div class="section-col col-2">
        <p>Charles Elias Shepard Scholarship for Graduate Study</p>
        <p>Emory University</p>
      </div>
      <div class="section-col col-3">
        <p>$10,570</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2008, 2007</p>
      </div>
      <div class="section-col col-2">
        <p>Lettie Pate Whitehead Scholarship</p>
        <p>Emory University</p>
      </div>
      <div class="section-col col-3">
        <p>$1,436 total</p>
      </div>
    </li>





  </ul>


</section>
