<!-- HONORS AND AWARDS -->
<section id="honors-and-awards" class="section-cv">

  <h2 class="heading-cv">Honors and Awards</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p>Award for Distinguished Scholarship from the Animals and Society Section of the American Sociological Association</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p>University of Pennsylvania Sociology PhD Dissertation Defended with Distinction</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2016</p>
      </div>
      <div class="section-col col-2">
        <p>University of Pennsylvania School of Arts and Sciences Dean’s Scholar</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2010-2011</p>
      </div>
      <div class="section-col col-2">
        <p>Emory College Honors Program in Sociology</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2008-2011</p>
      </div>
      <div class="section-col col-2">
        <p>Emory College Dean’s List</p>
      </div>
    </li>


  </ul>


</section>
