<!-- MEDIA APPEARANCES -->
<section id="media-appearances" class="section-cv">

  <h2 class="heading-cv">Media Appearances</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p>Interview on America’s Declining Fertility Rate</p>
      </div>
      <div class="section-col col-3">
        <p>Stonecom Radio</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p>Interview on Ethics in Government</p>
      </div>
      <div class="section-col col-3">
        <p>Stonecom Radio</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Faculty Fresh Face: Betsie Garner”</p>
      </div>
      <div class="section-col col-3">
        <p>blogs.tntech.edu/rightnow</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Animals and Society Award for Distinguished Scholarship”</p>
      </div>
      <div class="section-col col-3">
        <p>Animals and Society Section Newsletter</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2013</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Hipster Hobbies: Cashing in on Ancient Skills”</p>
      </div>
      <div class="section-col col-3">
        <p>Katrina Bishop for CNBC.com</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2013</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Goodbye Tablets, Hello Taxidermy: How Hipsters are Ditching Modern Hobbies to Learn ‘Trendy’ Ancient Skills—Like
          Stuffing Dead Animals”</p>
      </div>
      <div class="section-col col-3">
        <p>Catherine Townsend for Dailymail.co.uk</p>
      </div>
    </li>


  </ul>


</section>