<!-- PAPERS IN PROGRESS -->
<section  id="papers-in-progress" class="section-cv">

  <h2 class="heading-cv">Papers in Progress</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“The Distinctive South and the Invisible North: Why Urban Ethnography Needs Regional Sociology”</p>
      </div>
      <div class="section-col col-3">
        <p>Revise and resubmit at <br><em>Sociology Compass</em></p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Urban Progressivism and Southern Hospitality: How Comparison Cases Reveal Shared Processes of Community Attachment”</p>
        <p>Co-authored with Sarah Zelner</p>
      </div>
      <div class="section-col col-3">
        <p>Under review at <br><em>International Journal of Urban and Regional Research</em></p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“The Hospitable South: Religion, Politics, and Belonging in a Southern Community”</p>
      </div>
      <div class="section-col col-3">
        <p>In preparation</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Warm and Friendly Churches: Southern Hospitality, Christian Hospitality, and the Institutional Maintenance of Local Congregations”</p>
      </div>
      <div class="section-col col-3">
        <p>In preparation</p>
      </div>
    </li>

  </ul>


</section>
