<!-- PUBLICATIONS -->
<section id="publications" class="section-cv">

  <h2 class="heading-cv">Publications</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“The Distinctive South and the Invisible North: Why Urban Ethnography Needs Regional Sociology”</p>
      </div>
      <div class="section-col col-3">
        <p>
          <em>Sociology Compass</em>
          <br>12(6): e12589</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“‘Perfectly Positioned’: The Blurring of Urban, Suburban, and Rural Boundaries in a Southern Community”</p>
      </div>
      <div class="section-col col-3">
        <p>
          <em>The ANNALS of the American Academy of Political and Social Science</em>
          <br>672(1): 46-63</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2016</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Naturalizing Gender through Childhood Socialization Messages in a Zoo”</p>
        <p>Co-authored with David Grazian</p>
        <p>Winner of the 2017 Award for Distinguished Scholarship from the Animals and Society Section of ASA</p>
      </div>
      <div class="section-col col-3">
        <p>
          <em>Social Psychology Quarterly</em>
          <br>79(3): 181-198</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1">
        <p>2015</p>
      </div>
      <div class="section-col col-2">
        <p class="hang-quote">“Mundane Mommies and Doting Daddies: Gendered Parenting and Family Museum Visits”</p>
      </div>
      <div class="section-col col-3">
        <p>
          <em>Qualitative Sociology</em>
          <br>38(3): 327-348</p>
      </div>
    </li>

  </ul>


</section>