
<!-- CONTINUING EDUCTION -->
<section id="professional-development" class="section-cv">

  <h2 class="heading-cv">Professional Development</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p>Camp QEP</p>
      </div>
      <div class="section-col col-3">
        <p>Tennessee Technological University
        <br>Cookeville, TN</p>
      </div>
    </li>
        
    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2017-2018</p>
      </div>
      <div class="section-col col-2">
        <p>Learning About Learning Academic Learning Community</p>
      </div>
      <div class="section-col col-3">
        <p>Tennessee Technological University
        <br>Cookeville, TN</p>
      </div>
    </li>


  </ul>


</section>
