<!-- RESEARCH AND TEACHING INTERESTS -->
<section id="research-interest" class="section-cv">
  <h2 class="heading-cv">Research and Teaching Interests</h2>

  <ul class="multi-col">
    <li class="section-col col-item col-item-long">Research Methods</li>
    <li class="section-col col-item col-item-long">
      Place, Culture, and Community
    </li>
    <li class="section-col col-item col-item-long">
      Urban and Rural Sociology
    </li>
    <li class="section-col col-item col-item-long">
      Race, Class, and Gender Inequality
    </li>

    <li class="section-col col-item col-item-long">
      Family, Religion, and Identity
    </li>

    <li class="section-col col-item col-item-long">Regional Sociology</li>
  </ul>
</section>
