<!-- REFERENCES -->
<section id="references" class="section-cv">

  <h2 class="heading-cv">References</h2>


  <ul class="section-row">

    <li class="section-col bottom-space">
      <p>David Grazian</p>
      <!-- <p>215 898 7682</p> -->
      <p>dgrazian@sas.upenn.edu</p>
    </li>

    <li class="section-col bottom-space">
      <p>Randall Collins</p>
      <!-- <p>215 573 6176</p> -->
      <p>collinsr@sas.upenn.edu</p>
    </li>

    <li class="section-col bottom-space">
      <p>Robin Leidner</p>
      <!-- <p>215 898 7667</p> -->
      <p>rleidner@sas.upenn.edu</p>
    </li>

  </ul>


</section>
