<!-- RESEARCH AND TEACHING INTERESTS -->
<section id="research-interest" class="section-cv">

  <h2 class="heading-cv">Research and Teaching Interests</h2>

  <ul class="multi-col"> 

    <li class="section-col col-item col-item-long">Qualitative Research Methods </li>
    <li class="section-col col-item">Culture </li>
    <li class="section-col col-item">Gender </li>
    <li class="section-col col-item">Family </li>
    <li class="section-col col-item">Community</li>
    <li class="section-col col-item col-item-long">The Rural-Urban Continuum </li>
    <li class="section-col col-item">Place </li>
    <li class="section-col col-item">Work </li>
    <li class="section-col col-item">Religion </li>
    <li class="section-col col-item">Regionalism</li>

  </ul>

</section>
