<!-- SERVICE -->
<section id="service" class="section-cv">

  <h2 class="heading-cv">Service to the Profession</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2016</p>
      </div>
      <div class="section-col col-2">
        <p>Reviewer for <em>Qualitative Sociology</em></p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2015-2016</p>
      </div>
      <div class="section-col col-2">
        <p>Reviewer for <em>Gender & Society</em></p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2013-2016</p>
      </div>
      <div class="section-col col-2">
        <p>Mentor to Incoming Graduate Students at the University of Pennsylvania Sociology Department</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2013-2014</p>
      </div>
      <div class="section-col col-2">
        <p>Communications Committee Member for the Work and Family Researchers Network</p>
      </div>
    </li>

  </ul>


</section>
