
<!-- SERVICE TO THE DEPARTMENT -->
<section id="teaching-experience" class="section-cv">

  <h2 class="heading-cv">Service to the Department</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2018</p>
      </div>
      <div class="section-col col-2">
        <p>Participant in the Tennessee Transfer Pathways Review</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p>Founding Member of the TTU Sociology and Political Science Department Faculty Book Club</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p>Co-Host to Patricia Tevington for TTU’s Sociology and Criminal Justice Club Roundtable Event</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2017</p>
      </div>
      <div class="section-col col-2">
        <p>Collaborator on the General Education Assessment for Introduction to Sociology</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2017-2018</p>
      </div>
      <div class="section-col col-2">
        <p>Mentor to Student Majors in Sociology</p>
      </div>
    </li>

  </ul>
</section>