<!-- SERVICE -->
<section id="service-to-pub" class="section-cv">

  <h2 class="heading-cv">Service to the Public</h2>

  <ul>
    
    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>2015-2018</p>
      </div>
      <div class="section-col col-2">
        <p>Volunteer at Rockdale CASA, Inc.</p>
      </div>
      <div class="section-col col-3">
        <p>Conyers, GA</p>
      </div>
    </li>
    
      <li class="section-row">
        <div class="section-col col-1 col-1-wide">
          <p>2015, 2016, 2017</p>
        </div>
        <div class="section-col col-2">
          <p>Volunteer at Rockdale Emergency Relief Smart Lunch, Smart Kid Program</p>
        </div>
        <div class="section-col col-3">
          <p>Conyers, GA</p>
        </div>
      </li>


      <li class="section-row">
        <div class="section-col col-1 col-1-wide">
          <p>2015-2017</p>
        </div>
        <div class="section-col col-2">
          <p>Volunteer at Family Promise of NewRock</p>
        </div>
        <div class="section-col col-3">
          <p>Conyers, GA</p>
        </div>
      </li>

      <li class="section-row">
        <div class="section-col col-1 col-1-wide">
          <p>2015, 2016</p>
        </div>
        <div class="section-col col-2">
          <p>Volunteer at the Rockdale Coalition Day of Connections</p>
        </div>
        <div class="section-col col-3">
          <p>Conyers, GA</p>
        </div>
      </li>

      <li class="section-row">
        <div class="section-col col-1 col-1-wide">
          <p>2008-2009</p>
        </div>
        <div class="section-col col-2">
          <p>Volunteer at Fugees Family, Inc.</p>
        </div>
        <div class="section-col col-3">
          <p>Scottdale, GA</p>
        </div>
      </li>

      <li class="section-row">
        <div class="section-col col-1 col-1-wide">
          <p>2008</p>
        </div>
        <div class="section-col col-2">
          <p>Intern at the Jefferson County Juvenile Court</p>
        </div>
        <div class="section-col col-3">
          <p>Dandridge, TN</p>
        </div>
      </li>

  </ul>


</section>
