<!-- TEACHING EXPERIENCE -->
<section id="teaching-experience" class="section-cv">

  <h2 class="heading-cv">Teaching Experience</h2>

  <ul>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Fall 2018</p>
      </div>
      <div class="section-col col-2">
        <p>Instructor</p>
        <p>Introduction to Sociology
          <br />Introduction to Sociology Online</p>
      </div>
      <div class="section-col col-3">
        <p>Tennessee Tech University
          <br>Cookeville, TN</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Summer 2018</p>
      </div>
      <div class="section-col col-2">
        <p>Instructor</p>
        <p>Introduction to Sociology Online</p>
      </div>
      <div class="section-col col-3">
        <p>Tennessee Tech University
          <br>Cookeville, TN</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Spring 2018</p>
      </div>
      <div class="section-col col-2">
        <p>Instructor</p>
        <p>Introduction to Sociology
          <br> Sociology of Media and Popular Culture</p>
      </div>
      <div class="section-col col-3">
        <p>Tennessee Tech University
          <br>Cookeville, TN</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Fall 2017</p>
      </div>
      <div class="section-col col-2">
        <p>Instructor</p>
        <p>Introduction to Sociology</p>
      </div>
      <div class="section-col col-3">
        <p>Tennessee Tech University
          <br>Cookeville, TN</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Spring 2014</p>
      </div>
      <div class="section-col col-2">
        <p>Teaching Assistant and Recitation Instructor</p>
        <p>Introduction to Sociology</p>
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
          <br>Philadelphia, PA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Fall 2013</p>
      </div>
      <div class="section-col col-2">
        <p>Teaching Assistant and Recitation Instructor</p>
        <p>The Family</p>
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
          <br>Philadelphia, PA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Spring 2013</p>
      </div>
      <div class="section-col col-2">
        <p>Teaching Assistant and Recitation Instructor</p>
        <p>Sociology of Media and Popular Culture</p>
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
          <br>Philadelphia, PA</p>
      </div>
    </li>

    <li class="section-row">
      <div class="section-col col-1 col-1-wide">
        <p>Fall 2012</p>
      </div>
      <div class="section-col col-2">
        <p>Teaching Assistant and Recitation Instructor</p>
        <p>Asian Americans in Contemporary Society</p>
      </div>
      <div class="section-col col-3">
        <p>University of Pennsylvania
          <br>Philadelphia, PA</p>
      </div>
    </li>


  </ul>


</section>