---
layout: inner.njk
title: Bio
eleventyNavigation:
  key: bio
  order: 1
  parent: main
---

<p>Betsie Garner is an Assistant Professor of Sociology at Tennessee Tech University.  Her research and teaching interests include topics related to family, culture, and place.  She received a PhD in Sociology from the University of Pennsylvania in 2017, an MA in Sociology from the University of Pennsylvania in 2013, and a BA in Sociology from Emory University in 2011.</p>

<p>Garner’s current project is an ethnographic community study of Rockdale County, GA in which she explores the discourse and practice of Southern hospitality among contemporary residents of the changing Southern United States.  Her analysis traces connections between Southern regional culture and Christian religious culture to explain how community members negotiate the politics of belonging in Rockdale.  A related paper on the blurring of rural-urban boundaries was published in <em>The ANNALS of the American Academy of Political and Social Science</em>, and another on Northern and Southern biases in urban ethnography and regional sociology was published in <em>Sociology Compass</em>.</p>

<p>Garner’s earlier research focused on gender and parenting, and her comparison of mothering and fathering in the context of family visits to Philadelphia museums was published in <em>Qualitative Sociology</em>.  Her collaborative work with David Grazian illustrating the gender socialization of girls and boys during family visits to urban zoos appeared in <em>Social Psychology Quarterly</em> and won the 2017 Award for Distinguished Scholarship from the Animals and Society section of the American Sociological Association.</p>

<p>Garner is the recipient of several competitive awards including a Dissertation Research Fellowship and multiple Otto and Gertrude Pollak Summer Research Fellowships from the University of Pennsylvania, as well as a Charles Elias Shepard Scholarship for Graduate Study from Emory University.  The University of Pennsylvania School of Arts and Sciences named her a 2016 Dean’s Scholar.</p>

<p>Garner teaches Introduction to Sociology, Introduction to Women and Gender Studies, and additional courses on culture and inequality.  She is dedicated to serving a diverse student population and uses inclusive teaching practices to mitigate inequalities arising from variation in college preparedness.  Beyond the classroom, she enjoys serving as Chapter Representative for the Epsilon chapter of Alpha Kappa Delta International Sociology Honor Society and assisting with efforts to promote diversity, equity, and inclusion in the local community and beyond.</p>