---
layout: inner.njk
title: Bio
metaDescription: Betsie Garner is an Assistant Professor of Sociology at Tennessee Tech University.  Her research and teaching interests include topics related to family, culture, and place.  She received a PhD in Sociology from the University of Pennsylvania in 2017, an MA in Sociology from the University of Pennsylvania in 2013, and a BA in Sociology from Emory University in 2011.
---

<p>I’m an Assistant Professor of Sociology at Tennessee Tech University in Cookeville, TN.  I hold a PhD and an MA in sociology from the University of Pennsylvania, and a BA in sociology from Emory University.</p>

<p>I use qualitative methods to study topics related to family, culture, and place.  My research has been published in <cite>Study the South</cite>, <cite>Sociology Compass</cite>, <cite>The ANNALS of the American Academy of Political and Social Science</cite>, <cite>Social Psychology Quarterly</cite>, and <cite>Qualitative Sociology</cite>.</p>

<p>Funding for my work includes a Dissertation Research Fellowship and multiple Otto and Gertrude Pollak Summer Research Fellowships from the University of Pennsylvania, as well as a Charles Elias Shepard Scholarship for Graduate Study from Emory University.</p>

<p>The University of Pennsylvania School of Arts and Sciences named me a 2016 Dean’s Scholar.  Along with a colleague, I received the 2017 Award for Distinguished Scholarship from the Animals and Society section of the American Sociological Association.</p>

<p>I teach Introduction to Sociology, Introduction to Women and Gender Studies, and additional courses on culture and inequality.  In serving a diverse student population, I draw on design thinking and inclusive teaching to mitigate inequalities that arise from variation in college preparedness.</p>

<p>I’m a member of Tennessee Tech’s newly formed Online Education Advisory Committee and the university’s Women and Gender Studies Curriculum Coordinating Committee.  I also serve as the faculty adviser for my department’s chapter of Alpha Kappa Delta International Sociology Honor Society.</p>