---
layout: inner.njk
title: CV
---

<section class="cv-section cv-section--contact">
  <h2>Contact</h2>
  <div class="entry">
    <div class="address">
      <span>
        <p>PO Box 5052</p>
        <p>Cookeville, TN 38505</p>
      </span>
    </div>
    <div class="email">bgarner@tntech.edu</div>
  </div>
</section>

<section class="cv-section cv-section--academic-appointments">
  <h2>Academic Appointments</h2>
  <div class="entry">
    <div class="year">2019-</div>
    <div class="title">
      <div>
        <p>Assistant Professor of Sociology</p>
      </div>
    </div>
    <div class="institution">Tennessee Tech University<div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2017-2019</div>
    <div class="title">
      <div>
        <p>Instructor of Sociology</p>
      </div>
    </div>
    <div class="institution">Tennessee Tech University <div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
</section>

<section class="cv-section cv-section--education">
  <h2>Education</h2>
  <div class="entry">
    <div class="year">2017</div>
    <div class="title">
      <div>
        <p>PhD in Sociology</p>
      </div>
    </div>
    <div class="institution">University of Pennsylvania <div class="institution-location">Philadelphia, PA</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2013</div>
    <div class="title">
      <div>
        <p>MA in Sociology</p>
      </div>
    </div>
    <div class="institution">University of Pennsylvania <div class="institution-location">Philadelphia, PA</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2011</div>
    <div class="title">
      <div>
        <p>BA in Sociology with Highest Honors</p>
      </div>
    </div>
    <div class="institution">Emory University <div class="institution-location">Atlanta, GA</div>
    </div>
  </div>
</section>

<section class="cv-section cv-section--interests">
  <h2>Research and Teaching Interests</h2>
  <div class="entry">
    <div class="interest">Sociological Research Methods</div>
  </div>
  <div class="entry">
    <div class="interest"> Place, Culture, and Community </div>
  </div>
  <div class="entry">
    <div class="interest"> Urban and Rural Sociology </div>
  </div>
  <div class="entry">
    <div class="interest"> Race, Class, and Gender Inequality </div>
  </div>
  <div class="entry">
    <div class="interest"> Family, Religion, and Identity </div>
  </div>
  <div class="entry">
    <div class="interest">Regional Sociology</div>
  </div>
</section>

<section class="cv-section cv-section--publications">
  <h2>Publications</h2>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>“All Are Welcome? Southern Hospitality and the Politics of Belonging”</p>
      </div>
    </div>
    <div class="journal">
      <div class="journal-name">Study the South</div>
      <div class="journal-issue">December 20<sup>th</sup>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title title--quotes">
      <div>
        <p>“The Distinctive South and the Invisible North: Why Urban Ethnography Needs Regional Sociology”</p>
      </div>
    </div>
    <div class="journal">
      <div class="journal-name"> Sociology Compass </div>
      <div class="journal-issue">12(6): e12589</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">  2017</div>
    <div class="title title--quotes">
      <div>
        <p>“‘Perfectly Positioned’: The Blurring of Urban, Suburban, and Rural Boundaries in a Southern Community”</p>
      </div>
    </div>
    <div class="journal">
      <div class="journal-name"> The ANNALS of the American Academy of Political and Social Science </div>
      <div class="journal-issue">672(1): 46-63</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">  2016</div>
    <div class="title title--quotes">
      <div>
        <p>“Naturalizing Gender through Childhood Socialization Messages in a Zoo”</p>
      </div>
    </div>
    <div class="co-author">Co-authored with David Grazian</div>
    <div class="journal">
      <div class="journal-name"> Social Psychology Quarterly </div>
      <div class="journal-issue">79(3): 181-198</div>
    </div>
    <div class="award">Winner of the 2017 Award for Distinguished Scholarship from the Animals and Society Section of ASA</div>
  </div>
  <div class="entry">
    <div class="year">2015</div>
    <div class="title title--quotes">
      <div>
        <p>“Mundane Mommies and Doting Daddies: Gendered Parenting and Family Museum Visits”</p>
      </div>
    </div>
    <div class="journal">
      <div class="journal-name"> Qualitative Sociology </div>
      <div class="journal-issue">38(3): 327-348</div>
    </div>
  </div>
</section>

<section class="cv-section cv-section--papers-in-progress">
  <h2>Papers In Progress</h2>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>“Warm and Friendly Churches: Southern Hospitality, Christian Hospitality, and the Institutional Maintenance of Local Congregations”</p>
      </div>
    </div>
    <div class="status">
      <p>In preparation</p>
    </div>
  </div>
</section>

<section class="cv-section cv-section--funding">
  <h2>Fellowships and Funding</h2>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title">
      <div>
        <p>Chapter Representative Research Travel Grant</p>
      </div>
    </div>
    <div class="institution">Alpha Kappa Delta</div>
    <div class="amount">$250</div>
  </div>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title">
      <div>
        <p>Student Member Research Travel Grant <br>On behalf of Presley Alford</p>
      </div>
    </div>
    <div class="institution">Alpha Kappa Delta</div>
    <div class="amount">$400</div>
  </div>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title">
      <div>
        <p>CITL Funding</p>
      </div>
    </div>
    <div class="institution">Tennessee Tech Univerisity</div>
    <div class="amount">$725</div>
  </div>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title">
      <div>
        <p>QEP Creative Inquiry Curriculum Grant </p>
      </div>
    </div>
    <div class="institution">Tennessee Tech University</div>
    <div class="amount">$2,000</div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title">
      <div>
        <p>College of Arts and Sciences Faculty Development Fund</p>
      </div>
    </div>
    <div class="institution">Tennessee Tech University</div>
    <div class="amount">$300</div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title">
      <div>
        <p>Learning About Learning Travel Funding</p>
      </div>
    </div>
    <div class="institution">Tennessee Tech University</div>
    <div class="amount">$1,000</div>
  </div>
  <div class="entry">
    <div class="year">2016, 2015, 2014, 2013</div>
    <div class="title">
      <div>
        <p>Gertrude and Otto Pollak ASA Travel Award</p>
      </div>
    </div>
    <div class="institution">University of Pennsylvania</div>
    <div class="amount">$1,290 total</div>
  </div>
  <div class="entry">
    <div class="year">2016, 2015, 2014, 2012</div>
    <div class="title">
      <div>
        <p>Gertrude and Otto Pollak Summer Research Fellowship</p>
      </div>
    </div>
    <div class="institution">University of Pennsylvania</div>
    <div class="amount">$15,000 total</div>
  </div>
  <div class="entry">
    <div class="year">2015</div>
    <div class="title">
      <div>
        <p>Dissertation Research Fellowship</p>
      </div>
    </div>
    <div class="institution">University of Pennsylvania</div>
    <div class="amount">  $6,500</div>
  </div>
  <div class="entry">
    <div class="year">2011</div>
    <div class="title">
      <div>
        <p>Benjamin Franklin Fellowship</p>
      </div>
    </div>
    <div class="institution">University of Pennsylvania</div>
    <div class="amount">$250,000+</div>
  </div>
  <div class="entry">
    <div class="year">2011</div>
    <div class="title">
      <div>
        <p>Charles Elias Shepard Scholarship for Graduate Study</p>
      </div>
    </div>
    <div class="institution">Emory University</div>
    <div class="amount">$10,570</div>
  </div>
  <div class="entry">
    <div class="year">  2008, 2007</div>
    <div class="title">
      <div>
        <p>Lettie Pate Whitehead Scholarship</p>
      </div>
    </div>
    <div class="institution">Emory University</div>
    <div class="amount">$1,436 total</div>
  </div>
</section>

<section class="cv-section cv-section--awards">
  <h2>Honors and Awards</h2>
  <div class="entry">
    <div class="year">2017</div>
    <div class="title">
      <div>
        <p>Award for Distinguished Scholarship from the Animals and Society Section of ASA</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2017</div>
    <div class="title">
      <div>
        <p>University of Pennsylvania Sociology PhD Dissertation Defended with Distinction</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2016</div>
    <div class="title">
      <div>
        <p>University of Pennsylvania School of Arts and Sciences Dean’s Scholar</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2010-2011</div>
    <div class="title">
      <div>
        <p>Emory College Honors Program in Sociology</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2008-2011</div>
    <div class="title">
      <div>
        <p>Emory College Dean’s List</p>
      </div>
    </div>
  </div>
</section>

<section class="cv-section cv-section--conference-presentations">
  <h2>Conference Presentations</h2>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>“Conditional Hospitality as Lived Religion: LGBTQ Marginalization in a Southern Community”</p>
      </div>
    </div>
    <div class="conference">Mid-South Sociological Association Annual Conference</div>
    <div class="location">Jackson, MS</div>
  </div>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>“Marching to a Different Beat: Voices of Social Change from a Community of Practice on Diversity and Inclusion”</p>
      </div>
    </div>
    <div class="conference">International Society for the Scholarship of Teaching and Learning Annual Conference</div>
    <div class="conference-details">Co-presented with Ashley Akenson, Andrea Arce-Trigatti, and Jacob Kelley</div>
    <div class="location">Atlanta, GA</div>
  </div>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>“Conditional Hospitality as Lived Religion: LGBTQ Marginalization in a Southern Community”</p>
      </div>
    </div>
    <div class="conference">American Sociological Association Annual Meeting</div>
    <div class="location">New York, NY</div>
  </div>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>“All Are Welcome? Southern Hospitality and the Politics of Belonging”</p>
      </div>
    </div>
    <div class="conference">Southern Sociological Society Annual Meeting</div>
    <div class="location">Atlanta, GA</div>
  </div>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>“All Are Welcome? Southern Hospitality and the Politics of Belonging” </p>
      </div>
    </div>
    <div class="conference">Southern Studies Conference</div>
    <div class="location">Montgomery, AL</div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title title--quotes">
      <div>
        <p>“All Are Welcome? Southern Hospitality and the Politics of Belonging” </p>
      </div>
    </div>
    <div class="conference">Mid-South Sociological Association Annual Conference</div>
    <div class="location">Birmingham, AL</div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title title--quotes">
      <div>
        <p>“Warm and Friendly Churches: Southern Hospitality, Christian Hospitality, and the Institutional Maintenance of Local Congregations”</p>
      </div>
    </div>
    <div class="conference">American Sociological Association Annual Meeting</div>
    <div class="location">Philadelphia, PA</div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title title--quotes">
      <div>
        <p>“‘Perfectly Positioned’: The Blurring of Urban, Suburban, and Rural Boundaries in a Southern Community”</p>
      </div>
    </div>
    <div class="conference">Atlanta Studies Symposium</div>
    <div class="location">Atlanta, GA</div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title title--quotes">
      <div>
        <p>“Warm and Friendly Churches: Southern Hospitality, Christian Hospitality, and the Institutional Maintenance of Local Congregations”</p>
      </div>
    </div>
    <div class="conference">Southern Sociological Society Annual Meeting</div>
    <div class="location">New Orleans, LA</div>
  </div>
  <div class="entry">
    <div class="year">2017</div>
    <div class="title title--quotes">
      <div>
        <p>“The Hospitable South: Religion, Politics, and Belonging in a Southern Community”</p>
      </div>
    </div>
    <div class="conference">Southern Sociological Society Annual Meeting</div>
    <div class="location">Greenville, SC</div>
  </div>
  <div class="entry">
    <div class="year">2016</div>
    <div class="title title--quotes">
      <div>
        <p>“The Hospitable South: Cultural Myth and Religious Practice in a Southern Community”</p>
      </div>
    </div>
    <div class="conference">Society for the Scientific Study of Religion Annual Meeting</div>
    <div class="location">Atlanta, GA</div>
  </div>
  <div class="entry">
    <div class="year">2016</div>
    <div class="title title--quotes">
      <div>
        <p>“‘Perfectly Positioned’: The Blurring of Urban, Suburban, and Rural Boundaries in a Southern Community”</p>
      </div>
    </div>
    <div class="conference">The New Rural-Urban Interface Conference</div>
    <div class="location">Philadelphia, PA</div>
  </div>
  <div class="entry">
    <div class="year">2016</div>
    <div class="title title--quotes">
      <div>
        <p>“The Hospitable South: Cultural Myth and Religious Practice in a Southern Community”</p>
      </div>
    </div>
    <div class="conference">American Sociological Association Annual Meeting</div>
    <div class="location">Seattle, WA</div>
  </div>
  <div class="entry">
    <div class="year">2016</div>
    <div class="title title--quotes">
      <div>
        <p>“Urban Progressivism and Southern Hospitality: How Ecology and Morality Inform the Framing of Community Identity”</p>
      </div>
    </div>
    <div class="conference">Southern Sociological Society Annual Meeting</div>
    <div class="location">Atlanta, GA</div>
  </div>
  <div class="entry">
    <div class="year">2015</div>
    <div class="title title--quotes">
      <div>
        <p>“Street Level: Reconsidering Urban Sociology’s Regional Bias With Observations from Metro Atlanta’s Rockdale County”</p>
      </div>
    </div>
    <div class="conference">American Sociological Association Annual Meeting</div>
    <div class="location">Chicago, IL</div>
  </div>
  <div class="entry">
    <div class="year">2015</div>
    <div class="title title--quotes">
      <div>
        <p>“Down Here: Family Life and Southern Culture in Rockdale County, Georgia”</p>
      </div>
    </div>
    <div class="conference">Southern Sociological Society Annual Meeting</div>
    <div class="location">New Orleans, LA</div>
  </div>
  <div class="entry">
    <div class="year">2014</div>
    <div class="title title--quotes">
      <div>
        <p>“Only Natural: Families and the Social Construction of Gender in a City Zoo”</p>
      </div>
    </div>
    <div class="conference">American Sociological Association Annual Meeting</div>
    <div class="location">San Francisco, CA</div>
  </div>
  <div class="entry">
    <div class="year">2014</div>
    <div class="title title--quotes">
      <div>
        <p>“Mundane Mommies and Doting Daddies: Family-Oriented Consumption and Gendered Parenting in Philadelphia Museums”</p>
      </div>
    </div>
    <div class="conference">Eastern Sociological Society Annual Meeting</div>
    <div class="location">Baltimore, MD</div>
  </div>
  <div class="entry">
    <div class="year">2013</div>
    <div class="title title--quotes">
      <div>
        <p>“Mundane Mommies and Doting Daddies: Family-Oriented Consumption and Gendered Parenting in Philadelphia Museums”</p>
      </div>
    </div>
    <div class="conference">American Sociological Association Annual Meeting</div>
    <div class="location">New York, NY</div>
  </div>
  <div class="entry">
    <div class="year">2012</div>
    <div class="title title--quotes">
      <div>
        <p>"The Career Ladder and the Baby Cradle: College Seniors, Gender, and Work-Family Issues”</p>
      </div>
    </div>
    <div class="conference">Inaugural Meeting of the Work and Family Researchers Network</div>
    <div class="location">New York, NY</div>
  </div>
</section>

<section class="cv-section cv-section--campus-presentations">
  <h2>Campus Presentations</h2>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>"Interviewing as a Social Science Research Method"</p>
      </div>
      <div class="event">Guest lecture for Nicole Henniger</div>
    </div>
    <div class="institution">Tennessee Tech University<div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>“Simulating Residential Segregation”</p>
      </div>
      <div class="event">IMPACT Racism and Discrimination Series</div>
    </div>
    <div class="institution">Tennessee Tech University<div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>“Build Your Resume and Learn to Network”</p>
      </div>
      <div class="event">College of Arts and Sciences Student Workshop Series</div>
    </div>
    <div class="institution">Tennessee Tech University<div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title title--quotes">
      <div>
        <p>“Entry-Level Jobs for Careers in Sociology”</p>
      </div>
      <div class="event">Sociology and Criminal Justice Club Careers Workshop</div>
    </div>
    <div class="institution">Tennessee Tech University<div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title title--quotes">
      <div>
        <p>“All Are Welcome? Southern Hospitality and the Politics of Belonging”</p>
      </div>
      <div class="event">Wake Up Wednesday</div>
    </div>
    <div class="institution">Tennessee Tech University<div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title title--quotes">
      <div>
        <p>“All Are Welcome? Southern Hospitality and the Politics of Belonging”</p>
      </div>
      <div class="event">Faculty Development Fellowship</div>
    </div>
    <div class="institution">United States Air Force Academy <div class="institution-location">Colorado Springs, CO</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title title--quotes">
      <div>
        <p>“Questions of Complicity in Nazi Germany and the Jim Crow South”</p>
      </div>
      <div class="event">Panelist for a Center Stage event coordinated by the United States Holocaust Memorial Museum</div>
    </div>
    <div class="institution">Tennessee Tech University<div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2017</div>
    <div class="title title--quotes">
      <div>
        <p>“‘Perfectly Positioned’: The Blurring of Urban, Suburban, and Rural Boundaries in a Southern Community”</p>
      </div>
      <div class="event">Author Q&amp;A video conference for Sarah Zelner</div>
    </div>
    <div class="institution">University of Michigan<div class="institution-location">Ann Arbor, MI</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2016</div>
    <div class="title title--quotes">
      <div>
        <p>“The Hospitable South: Cultural Myth and Religious Practice in a Southern Community”</p>
      </div>
      <div class="event">Urban Ethnography Workshop</div>
    </div>
    <div class="institution">University of Pennsylvania<div class="institution-location">Philadelphia, PA</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2014</div>
    <div class="title title--quotes">
      <div>
        <p>“Only Natural: Families and the Social Construction of Gender in a City Zoo”</p>
      </div>
      <div class="event">Family and Gender Workshop</div>
    </div>
    <div class="institution">University of Pennsylvania <div class="institution-location">Philadelphia, PA</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2013</div>
    <div class="title title--quotes">
      <div>
        <p>“Mundane Mommies and Doting Daddies: Family-Oriented Consumption and Gendered Parenting in Philadelphia Museums”</p>
      </div>
      <div class="event">Urban Studies Graduate Student Colloquium Series</div>
    </div>
    <div class="institution">University of Pennsylvania <div class="institution-location">Philadelphia, PA</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2012</div>
    <div class="title title--quotes">
      <div>
        <p>“Family Field Trips: Philadelphia Museums and the Construction of Family Time”</p>
      </div>
      <div class="event">Urban Space and Public Life in Philadelphia: A Spotlight on Local Urban Fieldwork in Penn’s Doctoral Program in Sociology</div>
    </div>
    <div class="institution">University of Pennsylvania <div class="institution-location">Philadelphia, PA</div>
    </div>
  </div>
</section>

<section class="cv-section cv-section--teaching-experience">
  <h2>Teaching Experience</h2>
  <div class="entry">
    <div class="semester">2017-</div>
    <div class="title">
      <div>
        <p>Instructor of Record</p>
      </div>
      <ul class="courses">
        <li class="course">Introduction to Sociology</li>
        <li class="course">Introduction to Sociology Online</li>
        <li class="course">Introduction to Women and Gender Studies</li>
        <li class="course">Sociology of Media and Popular Culture</li>
        <li class="course">The Violent South</li>
        <li class="course">Places That Matter</li>
      </ul>
    </div>
    <div class="institution">Tennessee Tech University<div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
  <div class="entry">
    <div class="semester">2012-2014</div>
    <div class="title">
      <div>
        <p>Teaching Assistant and Recitation Instructor</p>
      </div>
      <ul class="courses">
        <li class="course">Asian Americans in Contemporary Society</li>
        <li class="course">Sociology of Media and Popular Culture</li>
        <li class="course">Introduction to Sociology</li>
        <li class="course">The Family</li>
      </ul>
    </div>
    <div class="institution">University of Pennsylvania<div class="institution-location">Philadelphia, PA</div>
    </div>
  </div>
</section>

<section class="cv-section cv-section--professional-development">
  <h2>Professional Development</h2>
  <div class="entry">
    <div class="year">2018, 2019</div>
    <div class="title">
      <div>
        <p>Camp QEP</p>
      </div>
    </div>
    <div class="institution">Tennessee Tech University <div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018-2019</div>
    <div class="title">
      <div>
        <p>Inclusive Excellence </p>
      </div>
      <div class="sub-title">Academic Learning Community</div>
    </div>
    <div class="institution">Tennessee Tech University <div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title">
      <div>
        <p>Faculty Development Fellowship</p>
      </div>
    </div>
    <div class="institution">United States Air Force Academy <div class="institution-location">Colorado Springs, CO</div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2017-2018</div>
    <div class="title">
      <div>
        <p>Learning About Learning </p>
      </div>
      <div class="sub-title">Academic Learning Community</div>
    </div>
    <div class="institution">Tennessee Tech University <div class="institution-location">Cookeville, TN</div>
    </div>
  </div>
</section>

<section class="cv-section cv-section--affiliations">
  <h2>Affiliations</h2>
  <div class="entry">
    <div class="title">
      <div>
        <p>Member</p>
      </div>
    </div>
    <div class="organization">American Sociological Association</div>
  </div>
  <div class="entry">
    <div class="title">
      <div>
        <p>Member</p>
      </div>
    </div>
    <div class="organization">Southern Sociological Society</div>
  </div>
  <div class="entry">
    <div class="title">
      <div>
        <p>Member</p>
      </div>
    </div>
    <div class="organization">  Mid-South Sociological Association</div>
  </div>
  <div class="entry">
    <div class="title">
      <div>
        <p>Member</p>
      </div>
    </div>
    <div class="organization">  Alpha Kappa Delta International Sociology Honor Society</div>
  </div>
</section>

<section class="cv-section cv-section--media">
  <h2>Media Appearances</h2>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title">
      <div>
        <p>Interview on America’s Declining Fertility Rate</p>
      </div>
    </div>
    <div class="organization">Stonecom Radio</div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title">
      <div>
        <p>Interview on Ethics in Government</p>
      </div>
    </div>
    <div class="organization">Stonecom Radio</div>
  </div>
  <div class="entry">
    <div class="year">2017</div>
    <div class="title title--quotes">
      <div>
        <p>“Faculty Fresh Face: Betsie Garner”</p>
      </div>
    </div>
    <div class="organization">  blogs.tntech.edu/rightnow</div>
  </div>
  <div class="entry">
    <div class="year">2017</div>
    <div class="title title--quotes">
      <div>
        <p>“Animals and Society Award for Distinguished Scholarship”</p>
      </div>
    </div>
    <div class="organization">Animals and Society Section Newsletter</div>
  </div>
  <div class="entry">
    <div class="year">2013</div>
    <div class="title title--quotes">
      <div>
        <p>“Hipster Hobbies: Cashing in on Ancient Skills”</p>
      </div>
    </div>
    <div class="organization">Katrina Bishop for CNBC.com</div>
  </div>
  <div class="entry">
    <div class="year">2013</div>
    <div class="title title--quotes">
      <div>
        <p>“Goodbye Tablets, Hello Taxidermy: How Hipsters are Ditching Modern Hobbies to Learn ‘Trendy’ Ancient Skills—Like Stuffing Dead Animals”</p>
      </div>
    </div>
    <div class="organization">  Catherine Townsend for Dailymail.co.uk</div>
  </div>
</section>

<section class="cv-section cv-section--pro-service">
  <h2>Service to the Profession</h2>
  <div class="entry">
    <div class="year">2019</div>
    <div class="title">
      <div>
        <p>Member of the MSSA Undergraduate Student Paper Competition Committee</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2013-2016</div>
    <div class="title">
      <div>
        <p>Mentor to Incoming Sociology Graduate Students at the University of Pennsylvania</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2013-2014</div>
    <div class="title">
      <div>
        <p>Member of the WFRN Communications Committee</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">ad hoc</div>
    <div class="title">
      <div>
        <p>Reviewer for <em>Gender &amp; Society</em>, <em>Qualitative Sociology</em>, Rowman &amp; Littlefield, and W. W. Norton &amp; Company</p>
      </div>
    </div>
  </div>
</section>

<section class="cv-section cv-section--university-service">
  <h2>Service to the University</h2>
  <div class="entry">
    <div class="year">2019-</div>
    <div class="title">
      <div>
        <p>Member of the Online Education Advisory Committee</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2019-</div>
    <div class="title">
      <div>
        <p>Member of the Women and Gender Studies Curriculum Coordinating Committee</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2019-</div>
    <div class="title">
      <div>
        <p>Facilitator for the Inclusive Excellence Academic Learning Community</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018-</div>
    <div class="title">
      <div>
        <p>Volunteer for the International Friends Host Family Program</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title">
      <div>
        <p>Reviewer for <em>Journal of Creative Inquiry</em>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="cv-section cv-section--department-service">
  <h2>Service to the Department</h2>
  <div class="entry">
    <div class="year">2019-</div>
    <div class="title">
      <div>
        <p>Member and Equity Representative of the Assistant Professor of Sociology (criminology/criminal justice, generalist) Search Committee</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2019-</div>
    <div class="title">
      <div>
        <p>Member and Equity Representative of the Assistant Professor of Sociology (criminology/criminal justice, policing) Search Committee</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2019-</div>
    <div class="title">
      <div>
        <p>Member of the Department Faculty Onboarding Committee</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018-</div>
    <div class="title">
      <div>
        <p>Chapter Representative for the Epsilon chapter of Alpha Kappa Delta International Sociology Honor Society</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018, 2019</div>
    <div class="title">
      <div>
        <p>Recruitment Volunteer at Tennessee Tech Preview Day</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title">
      <div>
        <p>Recruitment Volunteer at the 54<sup>th</sup> American Legion Boys State</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2018</div>
    <div class="title">
      <div>
        <p>Participant in the Tennessee Transfer Pathways Review</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2017-</div>
    <div class="title">
      <div>
        <p>Faculty Mentor to Student Majors in Sociology</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2017</div>
    <div class="title">
      <div>
        <p>Founding Member of the Sociology and Political Science Department Faculty Book Club</p>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="year">2017</div>
    <div class="title">
      <div>
        <p>Collaborator on the General Education Assessment for Introduction to Sociology</p>
      </div>
    </div>
  </div>
</section>

<section class="cv-section cv-section--public-service">
  <h2>Service to the Public</h2>
  <div class="entry">
    <div class="year">2019-</div>
    <div class="title">
      <div>
        <p>tnAchieves Mentor</p>
      </div>
    </div>
    <div class="location">Cookeville, TN</div>
  </div>
  <div class="entry">
    <div class="year">2015-2019</div>
    <div class="title">
      <div>
        <p>Volunteer at Rockdale CASA, Inc.</p>
      </div>
    </div>
    <div class="location">Conyers, GA</div>
  </div>
  <div class="entry">
    <div class="year">2015, 2016, 2017</div>
    <div class="title">
      <div>
        <p>Volunteer at Rockdale Emergency Relief Smart Lunch, Smart Kid Program</p>
      </div>
    </div>
    <div class="location">Conyers, GA</div>
  </div>
  <div class="entry">
    <div class="year">2015-2017</div>
    <div class="title">
      <div>
        <p>Volunteer at Family Promise of NewRock</p>
      </div>
    </div>
    <div class="location">Conyers, GA</div>
  </div>
  <div class="entry">
    <div class="year">2015, 2016</div>
    <div class="title">
      <div>
        <p>Volunteer at the Rockdale Coalition Day of Connections</p>
      </div>
    </div>
    <div class="location">Conyers, GA</div>
  </div>
  <div class="entry">
    <div class="year">2008-2009</div>
    <div class="title">
      <div>
        <p>Volunteer at Fugees Family, Inc.</p>
      </div>
    </div>
    <div class="location">Scottdale, GA</div>
  </div>
  <div class="entry">
    <div class="year">2008</div>
    <div class="title">
      <div>
        <p>Intern at the Jefferson County Juvenile Court</p>
      </div>
    </div>
    <div class="location">Dandridge, TN</div>
  </div>
</section>