---
layout: base.njk
title: Home
---

<div class="home-container">

  <h1 class="home-title">
    <span class="home-title__span">
      <span class="home-title__first-letter">B</span>etsie 
    </span>
    <span class="home-title__span">
      <span class="home-title__first-letter">G</span>arner
    </span>
  </h1>

  <ul class="home-cards__container">
    <li>
      <a href="/bio/" class="home-card">
        <span class="home-card__link-text">bio</span></a>
    </li>
    <li>
      <a href="/portfolio/" class="home-card">
        <span class="home-card__link-text">
          <span>port</span>
          <span>folio</span></a>
      </span>
    </li>
    <li>
      <a href="/cv/" class="home-card">
        <span class="home-card__link-text">cv</span></a>
    </li>
  </ul>

</div>