---
layout: base.njk
title: Pattern Library
eleventyNavigation:
  key: Library
---

<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque et accusantium placeat dolores eligendi, quas neque vitae, repellat quo qui rem ab deserunt? Corrupti soluta labore quos nisi laboriosam debitis!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis quae labore esse minus quos, ducimus saepe quasi optio atque ad officia magnam alias laudantium quia repellendus distinctio veniam? Nemo, ullam.</p>