---
layout: inner.njk
title: Portfolio
eleventyNavigation:
  key: portfolio
  order: 2
  parent: main
---

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quibusdam, temporibus delectus consequatur quidem alias nostrum mollitia nobis ducimus possimus accusantium, magnam repudiandae harum at error sed fugiat aliquid repellat!</p>

{{ collections.all | eleventyNavigation("portfolio") | eleventyNavigationToHtml({
        listClass: "",
        listItemClass: "",
        anchorClass: "",
        activeListItemClass: "",
        activeAnchorClass: "",
        activeKey: eleventyNavigation.key
      }) | safe }}
{{ content | safe }}