---
layout: portfolio-detail.njk
title: Portfolio
eleventyNavigation:
  key: portfolio
  order: 2
  parent: main
---
<h1 class="page-title">{{title}}</h1>
<p class="page-blurb">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quibusdam, temporibus delectus consequatur quidem alias nostrum mollitia nobis ducimus possimus accusantium, magnam repudiandae harum at error sed fugiat aliquid repellat!</p>

{{ collections.all | eleventyNavigation("portfolio") | eleventyNavigationToHtml({
        listClass: "portfolio-children",
        listItemClass: "portfolio-child",
        activeListItemClass: "portfolio-child--active",
        anchorClass: "portfolio-link",
        activeAnchorClass: "portfolio-link--active",
        activeKey: eleventyNavigation.key
      }) | safe }}
{{ content | safe }}