::selection {
    background: $light-accent-color;
    color: $dark-accent-color;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }

    @media #{$bp-x-small} {
        // background: red;
        font-size: 80%;
    }
    @media #{$bp-small} {
        // background: blue;
        font-size: 90%;
    }
    @media #{$bp-medium} {
        // background: purple;
        font-size: 95%;
    }
    @media #{$bp-large} {
        // background: green;
    }
    @media #{$bp-x-large} {
        // background: yellow;
    }
}

body {
    color: $black;
    font-size: 1.15em;
    font-family: $font-family-regular;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
