@mixin site-width {
    max-width: $site-width;
    margin: 0 auto;
    padding: 0 2.5rem;

    @media (max-width: #{$medium}) {
        padding: 0 1.5rem;
    }

    @media (max-width: 330px) {
        padding: 0 1rem;
    }
}
