@mixin windows-nudge {
    .windows & {
        position: relative;
        top: -0.15em;
    }
}

@mixin text-display-1 {
    font-family: $font-family-regular;
    font-size: 7rem;
    letter-spacing: -0.02em;
    transform: translateX(-0.05em);

    @media #{$bp-small} {
        font-size: 5.5rem;
    }
    @media #{$bp-x-small} {
        font-size: 4rem;
    }
}

@mixin text-display-2 {
    font-size: 3rem;
    line-height: 1.2;
    font-family: $font-family-italic;
    letter-spacing: -0.05em;

    @media #{$bp-small}, #{$bp-x-small} {
        font-size: 2.5rem;
    }
}

@mixin text-heading-1 {
    font-family: $font-family-bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
}

@mixin text-heading-2 {
    font-family: $font-family-regular;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
}

@mixin text-body-1 {
    font-size: 1.7rem;
    line-height: 1.3;
}
