.header {
    background: $gray;
    overflow: hidden;

    .site-width {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nav {
        margin-top: 1rem;
    }
}

.header-title {
    text-transform: uppercase;
    font-family: $font-family-bold;
    text-decoration: none;
    color: $black;
    transform: translateY(-1.2rem);
    @include windows-nudge;

    @media #{$bp-x-small},#{$bp-small} {
        transform: translateY(-0.75rem);
    }

    &:hover,
    &:focus {
        color: $dark-accent-color;
    }

    @media #{$bp-x-small} {
        padding: 1rem 0 0;
    }
}

.header-title__span {
    &:last-child {
    }
}

.header-title__first-letter {
    font-size: 1.2em;
}
