main {
    @include site-width;
    margin: 0 auto;
    max-width: $large;
    padding-bottom: 4rem;
    min-height: 100vh;

    &.bio {
        p {
            max-width: $medium;
        }
    }
    &.portfolio {
    }
    &.cv {
    }
}
