main {
    margin: 0 auto;
    max-width: $large;
    padding-top: 2rem;
    min-height: 100vh;

    &.bio {
        p {
            max-width: $medium;
        }
    }
    &.portfolio {
    }
    &.cv {
    }
}
