.portfolio-detail {
}

.portfolio-aside {
}

.portfolio-content {
}

.portfolio-intro {
}
.portfolio-blurb {
}

.portfolio-section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem 2rem;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: $large;

    > * {
        grid-column: 2 / -1;
    }

    @media #{$bp-x-small}, #{$bp-small} {
        grid-template-columns: 1fr;
        > * {
            grid-column: 1 / -1;
        }
    }
}

.section-number__box {
    font-size: 2.5rem;
    display: grid;
    place-content: center;
    background: $black;
    color: white;
    height: 1.5em;
    width: 1.5em;
    font-family: $font-family-bold;
    grid-column: 1 / 1;
    grid-row-start: 1;
    transform: translateY(-0.15em);
}
.section-number__text {
    line-height: 1;
    transform: translateY(0.1em);
    @include windows-nudge;
}

.section-date {
    @include text-heading-1;
    margin: 0;
    line-height: 1;
}

.section-title {
    @include text-display-2;
    margin: 0;
}

.section-body {
    max-width: $medium;
}
.section-details {
    margin-top: 1rem;
    border-top: 1px solid lighten($black, 60%);
}

.section-details__heading {
    @include text-heading-1;
}

.section-details__items {
    margin-top: 2rem;
    display: flex;
}
.section-details__item {
    flex: 1 1 25%;

    & + & {
        margin-left: 1rem;
    }
}

.section-detail__title {
    font-size: 0.9rem;
    font-family: $font-family-bold;
    text-transform: capitalize;
}

.section-detail__description {
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 55ch;

    & + & {
        margin-top: 0.75rem;
    }
}

.section-anchor-list {
    margin-top: 2rem;
}
.section-anchor-list__item {
    & + & {
        margin-top: 1rem;
    }
}

.section-anchor-list__link {
}
