.nav__list {
    max-width: 64rem;
    margin: 0 auto 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    @media (max-width: #{$mobile}) {
        padding: 1rem;
    }
}

.nav__link {
    margin-left: 1rem;
    flex: 0 0 auto;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: $black;

    &:hover,
    &:focus {
        border-color: $black;
    }

    &.nav__link--active {
        border-color: $black;
    }
}
