.portfolio-detail {
}

.portfolio-aside {
    // display: none;
}

.portfolio-nav {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    @include site-width;
}

.portfolio-nav__link {
    margin-left: 1rem;
    text-decoration: none;
}

.portfolio-nav__link--active {
    color: red;
}

.portfolio-content {
}

.portfolio-intro {
    // margin-bottom: 4rem;
}
.portfolio-blurb {
}

.portfolio-section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0 3rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: $medium;

    > * {
        grid-column: 2 / -1;
    }

    h3 {
        @include text-heading-1;
    }
}

.section-number__box {
    font-size: 2rem;
    display: grid;
    place-content: center;
    background: $black;
    color: white;
    height: 1.5em;
    width: 1.5em;
    font-family: $font-family-bold;
    grid-column: 1 / 1;
    margin-top: 0.4rem;
}
.section-number__text {
    line-height: 1;
    transform: translateY(0.05em);
    @include windows-nudge;
}

.section-title {
    @include text-display-2;
    // margin-bottom: 0;
}

.section-blurb {
    @include text-body-1;
    margin-bottom: 2rem;
}

.portfolio-children {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10rem;
    grid-gap: 1rem;
}
.portfolio-link {
    display: block;
    background: $black;
    color: white;
    height: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    @include text-display-1;
}
