.header {
    background: $gray;
    overflow: hidden;

    .site-width {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media #{$bp-x-small} {
            flex-direction: column;
        }
    }

    .nav {
        margin-top: 1rem;
    }
}

.header-title {
    text-transform: uppercase;
    font-family: $font-family-bold;
    text-decoration: none;
    color: $black;
    transform-origin: left 45%;

    &:hover,
    &:focus {
        color: $dark-accent-color;
    }
}

.header-title__span {
    &:last-child {
    }
}

.header-title__first-letter {
    font-size: 1.2em;
}

.header__portfolio-nav {
    border-bottom: $border;
    padding: 1rem 0;
}
