.portfolio-detail {
}

.portfolio-aside {
    // display: none;
}

.portfolio-nav {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    @include site-width;
}

.portfolio-nav__link {
    margin-left: 1rem;
    text-decoration: none;
}

.portfolio-nav__link--active {
    color: red;
}

.portfolio-content {
}

.portfolio-intro {
    // margin-bottom: 4rem;
}
.portfolio-blurb {
}

.portfolio-section {
    display: grid;
    // grid-template-columns: auto 1fr 12rem;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem 2rem;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: $large;

    > * {
        grid-column: 2 / -1;
    }

    @media #{$bp-x-small}, #{$bp-small} {
        grid-template-columns: 1fr;
        > * {
            grid-column: 1 / -1;
        }
    }
}

.section-number__box {
    font-size: 2rem;
    display: grid;
    place-content: center;
    background: $black;
    color: white;
    height: 1.5em;
    width: 1.5em;
    font-family: $font-family-bold;
    grid-column: 1 / 1;
    margin-top: 0.25rem;
    grid-row-start: 1;
    margin-bottom: 2rem;
}
.section-number__text {
    line-height: 1;
    transform: translateY(0.05em);
    @include windows-nudge;
}

.section-date {
    @include text-heading-1;
    margin: 0;
    line-height: 1;
    grid-row-start: 2;
}

.section-title {
    @include text-display-2;
    margin: 0;
}

.section-body {
    // margin: 0;
    // grid-column: 2 / 3;
    // grid-row-start: 3;
    max-width: $medium;
}
.section-details {
    margin-top: 1rem;
    border-top: 1px solid lighten($black, 60%);
}

.section-details__heading {
    @include text-heading-1;
}

.section-details__items {
    margin-top: 2rem;
    display: grid;
}
.section-details__item {
    grid-row: 1;
    padding-right: 1rem;
}

.section-detail__title {
    margin-bottom: 0.4em;
    font-size: 0.9rem;
    font-family: $font-family-bold;
    text-transform: capitalize;
}

.section-detail__description {
    // grid-column: 2 / 3;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    max-width: 55ch;
}

.portfolio-children {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10rem;
    grid-gap: 1rem;
}
.portfolio-link {
    display: block;
    background: $black;
    color: white;
    height: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    @include text-display-1;
}
