.nav {
}

.nav--header {
}

.nav--portfolio {
}

.nav__list {
    display: flex;

    .nav--portfolio & {
        justify-content: flex-end;

        @media #{$bp-x-small} {
            justify-content: center;
        }
    }
}

.nav__list-item {
    & + & {
        margin-left: 1rem;
    }
}

.nav__link {
    font-family: $font-family-regular;
    flex: 0 0 auto;
    text-decoration: none;
    padding: 0.75em 0.75em;
    line-height: 1;
    color: $black;
    display: block;
    border-radius: 0.25em 0.25em 0 0;
    letter-spacing: 0.05em;

    &:hover,
    &:focus {
        color: $black;
        // color: $dark-accent-color;
        background: rgba(255, 255, 255, 0.5);
    }

    .nav--portfolio & {
        font-size: 1rem;
        border-radius: 0.25em;
        background: $gray;
        padding: 0.5em 0.75em;
    }
}
.nav__link--active {
    color: $dark-accent-color;
    background: white;
    &:hover,
    &:focus {
        background: white;
    }
    .nav--header & {
        color: $black;
    }
    .nav--portfolio & {
        background: $black;
        color: white;
    }
}
