h1,
h2,
h3,
h4,
h5,
h6 {
    @include text-heading-2;
}

p {
    white-space: pre-wrap;
    line-height: 1.75;

    & + & {
        margin-top: 2em;
    }
}

p + {
    h2,
    h3 {
        margin-top: 1em;
    }
}

main {
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0.5em;
    }
}

a {
    color: $interactive-color;
    transition: all 250ms ease;

    &:hover,
    &:focus {
        color: $black;
    }
}

em,
i,
cite,
.em {
    font-family: $font-family-italic;
}

.page-title {
    @include text-display-1;
    @include windows-nudge;
}

.page-subtitle {
    @include text-body-2;
    // margin-top: 1rem;
}

.page-blurb {
    @include text-body-1;
    max-width: 70ch;
}
