h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Century Schoolbook Bold";
}

h1 {
    font-size: 8rem;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1rem;
    letter-spacing: 0.05em;
    font-weight: 400;
}

p {
    white-space: pre-wrap;
    line-height: 1.8;
}

p + p {
    margin-top: 2.4rem;
}
