h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Century Schoolbook Bold";
    font-size: 2rem;
    margin-bottom: 1em;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1em;
    text-transform: uppercase;
}

p {
    white-space: pre-wrap;
    line-height: 1.8;
    max-width: 70ch;
}

p + p {
    margin-top: 1em;
}

a {
    color: $black;
}
