// COLORS
$black: #333;
$gray: #eee;
$light-accent-color: #fd0;
$dark-accent-color: #2b64a0;

// SIZE
$site-width: 75em; // 1200px

$small: 25em; // 400px
$medium: 37.5em; // 600px
$large: 56.25em; // 900px
$x-large: $site-width; // 1200px

// BREAKPOINTS
$bp-x-small: "(max-width: #{$small})";
$bp-small: "(min-width: #{$small}) and (max-width: #{$medium - 0.01em})";
$bp-medium: "(min-width: #{$medium}) and (max-width: #{$large - 0.01em})";
$bp-large: "(min-width: #{$large}) and (max-width: #{$x-large - 0.01em})";
$bp-x-large: "(min-width: #{$x-large})";

// FONT FAMILY
$font-family-regular: CenturySchoolbook, "Century Schoolbook", serif;
$font-family-bold: CenturySchoolbookBold, "Century Schoolbook", serif;
$font-family-italic: CenturySchoolbookItalic, "Century Schoolbook", serif;
$font-family-bold-italic: CenturySchoolbookBoldItalic, "Century Schoolbook", serif;

// Design Tokens
$border: 1px solid $gray;
